.table-content{
    margin: auto;;
    width: 80%;
    .search-group{
        margin-bottom: 20px;
        width: 80%;
        input:focus{ background: #F3F5F8;}
        .search-text{
            font-size: 24px;
            width: 80%;
            font-family: Lato;
            background: transparent;
            border: none;
            &:hover{
                cursor: pointer;
                background: #F3F5F8;
            }
        }
        .imgspan{
            font-size: 20px;
            color: #898989;
            width: 20px;
            height: 20px;
        }
        .imghidden{
            visibility: hidden;
        }
    }
}
.table{
    height: 384px;
}
table {
    border-collapse: collapse;
    th, td {
        padding: 8px;
        text-align: left;
        .project-bacground{
            width: 24px;
            height: 24px;
            background: linear-gradient(180deg, #F57C6E 0%, #E84E3E 95.8%, #E74C3C 100%);
            border-radius: 15px 35px 35px 15px;
        }
        .column-text{
            font-family: Lato;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            color: #363636;
        }
        .oval{
            width: 32px;
            height: 32px;
            background-color: #EEEEEE;
            border-radius: 50%;
        }
        .text{
            height: 17px;
            font-family: Lato;
            font-size: 14px;
            font-weight: bold;
            line-height: 17px;
            text-align: center;
            padding-top: 8px;
            color: rgba(54,54,54,0.7);
        }
        .project-user{
            .oval{
                margin-right: 5px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                float: left;
                background: white;
                background-size: contain;
            }
            .user-avatar{
                background-image: url('/assets/image-profile/default-avatar.png');
                background-size: contain;
            }
        }
        .over-member{
            float: left;
        }
        .action-element{
            width: 32px;
            height: 32px;
            .oval{
                text-align: center;
                padding-top: 8px;
            }
        }
    }
    .table-header{
        th{
            height: 17px;
            font-family: Lato;
            font-size: 14px;
            line-height: 17px;
            color: rgba(54,54,54,0.7);
            font-weight: normal;
        }
    }
    .project-line{
        cursor: pointer;
        // border-bottom: 1px solid #ddd;
        height: 64px;
        background-color: rgba(255,255,255,0);
        box-shadow: inset 0 -1px 0 0 #EEEEEE;
    }
    tr:hover{background-color:#f5f5f5}
}
#projects-paginate{ display: none;}

/deep/.ui-paginator{
    display: inline-block;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background: white;
    font-family: -webkit-body;
    border: 0px;
    margin-bottom: 10px;
    .ui-paginator-page{
        padding: 8px 16px;
        text-decoration: none;
        line-height: 1.42857143;
        cursor: pointer;
        border-radius: 50% !important;
        border: forestgreen;
        background: #f5f5f5;
        color: black;
    }
    .ui-paginator-next, .ui-paginator-prev, .ui-paginator-last, .ui-paginator-first{
        border-radius: 50% !important;
        background: #f5f5f5;
        border: 0px;
        padding: 8px 16px;
        line-height: 1.42857143;
    }
    .ui-paginator-next:hover:not(.ui-state-disabled),
    .ui-paginator-prev:hover:not(.ui-state-disabled),
    .ui-paginator-last:hover:not(.ui-state-disabled),
    .ui-paginator-first:hover:not(.ui-state-disabled) {background-color: #ddd; color: black;}
    .ui-paginator-page.ui-state-active{
        background: green;
        color: white;
    }
    .ui-paginator-page:hover  {background-color: #ddd; color: black;}
}
