<div class="table-content">
    <div class="search-group">
        <span class=" imgspan"></span>
        <input class="search-text" type="text" [(ngModel)]="searchPattern"
        (keyup)="search()" (focus)="onFocus()" placeholder="Search project's name" />
    </div>
    <div class="table">
        <table>
            <tr class="table-header">
                <th>
                    <span>Project</span>
                    <span (click)="sortProject()" style="cursor: pointer;"><i id="sort-project" class="fa fa-angle-down"></i></span>
                </th>
                <!-- <th ></th> -->
                <th>Client</th>
                <th>Tracked time (h:m)</th>
                <th>Members</th>
                <th></th>
            </tr>
            <tbody *ngFor="let project of _projects.slice((current_page -1)*rowOfPage, current_page*rowOfPage); let i = index;">
                <tr class="project-line" (click)="projectDetails(project)" (mouseover)='showProjectControl(true, i)' (mouseleave)='showProjectControl(false, i)' >
                    <td>
                        <span class="project-title">
                            <div class="project-bacground" [style.background]="project.background | gradient"></div>
                            <div class="column-text"> {{project.name}} </div>
                        </span>
                    </td>
                    <!-- <td></td> -->
                    <td class="column-text">{{project.client.name}}</td>
                    <td class="column-text">{{project.tracked_time | timeFromSeconds}}</td>
                    <td class="column-text">
                        <div class="project-user inline-block" >
                            <div *ngIf="project.members">
                                <div *ngFor="let member of project.members.slice(0,3)">
                                    <div  *ngIf="!member.user.image" class="oval user-avatar tooltip">
                                        <span class="tooltiptext">{{member.user.first_name + " " + member.user.last_name}}</span>
                                    </div>
                                    <div *ngIf="member.user.image" class="oval tooltip" [ngStyle]="{'background-image': 'url(' + member.user.image + ')'}" >
                                        <span class="tooltiptext">{{member.user.first_name + " " + member.user.last_name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="over-member inline" *ngIf="project.members.length > 3">
                            <div class="oval">
                                <div class="text">
                                    +{{project.members.length - 3}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="project-control">
                        <div class="project-user" id="project-control-{{i}}" style="display: none;">
                            <div class="oval" (click)="save()">
                                <div class="text">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="oval" (click)="delete()">
                                <div class="text">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="oval" (click)="edit(project)">
                                <div class="text">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="_projects.length > rowOfPage" ><p-paginator rows="{{rowOfPage}}" totalRecords="{{_projects.length}}" (onPageChange)="paginates($event)" ></p-paginator></div>
</div>
