<ul class="date-chooser">
  <li><button class="previous" (click)="prevWeek()"><i class="fa fa-angle-left" aria-hidden="true"></i></button></li>
  <li>{{firstWeekMonth}} {{firstWeekDate}} <span class="fa fa-long-arrow-right"></span> {{lastWeekMonth}} {{lastWeekDate}}</li>
  <li><button class="next" (click)="nextWeek()"><i class="fa fa-angle-right" aria-hidden="true"></i></button></li>
  <li style="color: rgba(54,54,54,0.7);">Today:<p-calendar [(ngModel)]="chosenDate" [showIcon]="true" (onSelect)="emitChosenDate($event)"
  (onBlur)="emitChosenDate0($event.target.value)"></p-calendar></li>
</ul>
