<div class="timer-container" (mouseenter)="showSpan()" (mouseleave)="hideSpan()">
  <div [class]="classDiv">
  <span [class]="spanClass"><button (click)="deleteTimer()" type="button" pButton icon="fa-trash"></button></span>
  <ul class="aa">
    <li class="des">{{timerFetch.task_name}}</li>
    <li class="cli-ta">{{timerFetch.project_name}} - {{timerFetch.category_name}}</li>
    <li class="fro-to">{{timerFetch.start_time|date:'hh:mm a'}} -> {{timerFetch.stop_time|date:'hh:mm a'}}</li>
    <li class="to-ti">{{total}}</li>
  </ul>
  <span [class]="spanClass"><button (click)="startTimer()" type="button" pButton icon="fa-play-circle"></button></span>
  </div>
</div>
