<app-member-menu-bar [currentState]="3"></app-member-menu-bar>
<div class="body">
    <div class="container">
        <div class="header">
            <h2>Detailed reposts</h2>
            <button type="button" name="button" (click)="changeFilters()">Change Filters</button>
        </div>

        <div class="search-header">
            <div class="search-result">
                <div class="times">
                    <div class="time-frame">
                        <label>Time frame</label>
                        <label><strong>1/1/2017 — 30/1/2017</strong></label>
                    </div>

                    <div class="time-frame total">
                        <label>Total</label>
                        <div class="time-number">
                            <div class="">
                                <strong>230.50 hours</strong>
                            </div>
                            <div class="biliable">
                                200 billable hours
                            </div>
                        </div>
                    </div>
                </div>

                <div class="times types">
                    <div class="project">
                        <label for="">Projects</label>
                        <label for=""><strong>All</strong></label>
                    </div>

                    <div class="category">
                        <label for="">Categoryes</label>
                        <label for=""><strong>All</strong></label>
                    </div>

                    <div class="people">
                        <label for="">pepple</label>
                        <label for=""><strong>Everyone</strong></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-filters">

        </div>
    </div>
</div>
