.header{
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    color: rgba(54,54,54,0.7);
    & p{
        display: inline-block;
        & strong{
            font-size: 18px;
            color: #363636;
            line-height: 22px;
        }
    }
    & .sort{
        float: right;
        & .fa{
            cursor: pointer;
            padding-left: 50%
        }
    }
}

.content{
    margin-bottom: 5%;
    .request:hover{ background-color: #F3F5F8;}
    .request{
        width: 100%;
        background-color: rgba(255,255,255,0);
        .thumbnai{
            box-shadow: inset 0 -1px 0 0 #DDE1E5;
            display: inline-flex;
            width: 100%;
            padding-bottom: 3%;
            padding-bottom: 30px;
            padding-top: 30px;
            .dates{
                float: left;
                margin-right: 50px;
                .dates-content{
                    width: 190px;
                    min-width: 190px;
                    height: 130px;
                    background-color: #ECF0F1;
                    border-radius: 16px;
                    .from-date{
                        width: 50%;
                        height: 100%;
                        display: inline-block;
                        text-align: center;
                        background-color: rgba(0,0,0,0.07);
                        border-radius: 16px 0 0 16px;
                    }
                    .to-date{
                        display: inline-block;
                        text-align: left;
                        float: right;
                        margin-right: -11%;
                        margin-top: -17%;
                        .month{
                            padding-top: 0%;
                        }
                        .status{
                            width: 96px;
                            height: 40px;
                            box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
                            border-radius: 100px;
                            font-family: Lato;
                            font-size: 16px;
                            line-height: 24px;
                            color: #FFFFFF;
                            text-align: center;;
                            & p{padding: 8%;}
                        }
                        .approved{
                            background-color: #1ABC9C;
                        }
                        .rejected{
                            background-color: #f44336;
                        }
                        .pending{
                            background-color: #ffb300;;
                        }
                        .archived{
                            background-color: black;;
                        }
                    }
                    .date{
                        font-family: Lato;
                        font-size: 48px;
                        line-height: 57px;
                        color: #0066CC;
                    }
                    .month{
                        padding-top: 25%;
                        font-family: Lato;
                        font-size: 16px;
                        line-height: 24px;
                        color: #0066CC;
                    }

                    .remain-date{
                        font-family: "Lucida Grande";
                        font-size: 16px;
                        text-align: center;
                        line-height: 18px;
                        color: rgba(54, 54, 54, 0.7);
                        margin-top: -13%;
                    }

                    .right-arrow{
                        float: right;
                        margin-top: -43%;
                        margin-right: -8%;
                        color: rgba(54,54,54,0.3);
                    }
                }
            }
            .show-details{
                width: 100%;
                .control{
                    display: inline-block;
                    float: right;
                    .control-inform{
                        display: none;
                        margin-right: 20px;
                        // margin-left: 25px;
                        .oval{
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            opacity: 0.7;
                            background-color: #FFFFFF;
                            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24);
                            margin-left: 10px;
                            .text{
                                font-size: 14px;
                                text-align: center;
                                padding-top: 8px;
                                color: rgba(54, 54, 54, 0.7);
                            }
                        }
                        .oval:hover{
                            background-color:#ddd;
                            cursor: pointer;
                        };
                    }
                }
                .description{
                    font-family: Lato;
                    cursor: pointer;
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        color: #363636;
                        word-break: break-all;
                    }
                    .description-details{
                        font-family: Lato;
                        font-size: 14px;
                        line-height: 17px;
                        margin-bottom: 30px;
                        margin-top: 50px;
                        display: none;
                        & p {
                            font-size: 14px;
                            line-height: 17px;
                            color: rgba(54,54,54,0.7);
                            margin-bottom: 10px;
                            i {
                                color: red;
                            }
                            & .approved {
                                color: #1ABC9C;
                            }
                            & .rejected{
                                color: #f44336;
                            }
                        }
                        & .details-day{
                            display: inline-block;
                            color: #363636;
                        }
                        .details-arrow{
                            margin: 0 5% 0 5%;
                        }
                    }
                    .footer{
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba(54,54,54,0.7);
                        & .time-request{
                            display: inline-block;
                        }
                        & .time-request-block{
                            width: 4px;
                            height: 4px;
                            background-color: #DDDDDD;
                            display: inline-block;
                            margin: 0 8px 0 8px;
                        }
                    }
                }
            }
        }
    }
}
