.table-content{
    margin: auto;;
}

table {
    border-collapse: collapse;
    width: 80%;
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        .project-bacground{
            width: 24px;
            height: 24px;
            background: linear-gradient(180deg, #F57C6E 0%, #E84E3E 95.8%, #E74C3C 100%);
            border-radius: 15px 35px 35px 15px;
        }
        .column-text{
            font-family: Lato;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            color: #363636;
        }
        .oval{
            width: 32px;
            height: 32px;
            background-color: #EEEEEE;
            border-radius: 50%;
            .text{
                height: 17px;
                font-family: Lato;
                font-size: 14px;
                font-weight: bold;
                line-height: 17px;
                text-align: center;
                padding-top: 8px;
                color: rgba(54,54,54,0.7);
            }
        }
        .project-user{
            width: 128px;
            height: 32px;
            float: left;
            .oval{
                margin-left: 5px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                float: left;
                background: white;
            }
        }
        .over-member{
            float: left;
        }
        .action-element{
            width: 32px;
            height: 32px;
            .oval{
                text-align: center;
                padding-top: 8px;
            }
        }
    }
    .table-header{
        th{
            width: 59px;
            height: 17px;
            font-family: Lato;
            font-size: 14px;
            line-height: 17px;
            color: rgba(54,54,54,0.7);
            font-weight: normal;
        }
    }
    .project-line{
        width: 825px;
        height:70px;
        cursor: pointer;
    }
    tr:hover{background-color:#f5f5f5}
}
