.content{
    table{
        th, td{
            border-left: 1px solid rgba(54,54,54,0.1);;
        }
        .search-text{
            font-size: 24px;
            font-family: Lato;
            background: transparent;
            // border: none;
            &:hover{
                cursor: pointer;
                background: #F3F5F8;
            }
        }
        tr{
            max-width: 1043px;
            height: 56px;
            box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.1);
            .day-column{
                width: 55px;
                font-family: Lato;
                font-size: 14px;
                text-align: center;
                line-height: 17px;
                color: #363636;
                & label{
                    display: block;;
                }
                & .day-string{
                    color: rgba(54,54,54,0.7);
                    font-weight: normal;
                }
            }
            .search-icon{
                border-left: 0px;
                color: #898989;
            }
            .member{
                border: 0px;
                max-width: 180px;
                input{
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                    border: 0px;
                    max-width: 180px;
                    height: 100%;
                    cursor: pointer;
                }
                input:hover{
                    background: white;
                }
            }

            .search{
                border: 0px;
            }
            td{
                .avatar{
                    display: inline-block;
                    width: 32px;
                    min-width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-image: url('/assets/image-profile/default-avatar.png');
                    background-size: contain;
                    background-color: #ddd;
                }
                .inform{
                    display: inline-block;
                    .name-status{
                        .name{
                            font-family: Lato;
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 17px;
                            color: #363636;
                            display: inline-block;
                        }
                        .status{
                            width: 54px;
                            height: 17px;
                            border-radius: 25px;
                            display: inline-block;
                            text-align: center;
                            vertical-align: middle;
                            font-family: Lato;
                            font-size: 10px;
                            line-height: 12px;
                            padding-top: 3px;
                        }
                        .pending{
                            color: #E98E3D;
                            background-color: #F7D8BC;
                        }
                        .approved{
                            color: #1FBDA0;
                            background-color: #BAEAE1;
                        }
                        .rejected{
                            color: #E25151;
                            background-color: #F5C6C6;
                        }
                    }
                    .member-type{
                        display: inline-block;
                        margin-bottom: 5px;
                        width: 56px;
                        height: 15px;
                        font-family: Lato;
                        font-size: 12px;
                        line-height: 15px;
                        color: rgba(54,54,54,0.7);
                    }
                }
            }
        }
    }
    .calendar-note{
        text-align: right;
        .thumble{
            max-width: 24px;
            max-height: 24px;
            margin-top: 20px;
        }
        label{
            vertical-align: super;
            font-family: Lato;
            font-size: 12px;
            line-height: 15px;
            color: rgba(54,54,54,0.7);
            margin-right: 5px;
        }
    }
    .cel-pending{
        width: 55px;
        height: 55px;
        cursor: pointer;
        background-image: url('/assets/image-table/pending.png');
    }
    .cel-approved{
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: rgba(0,102,204,0.8);
    }
    .cel-weekend{
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: rgba(155,89,182,0.6);
    }
    .cel-holiday{
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: rgba(155,89,182,0.8)
    }
    .inline{
        display: inline-block;
    }
    .messages{
        width: 1280px;
        height: 64px;
        background-color: #FFFFFF;
        box-shadow: 0 -1px 0 0 rgba(54,54,54,0.24);
        display: none;
        vertical-align: bottom;
        width: 100%;
        label{
            font-family: Lato;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            color: rgba(54, 54, 54, 0.7);
            float: left;
            padding-top: 20px;
        }
        .action{
            float: right;
            padding-top: 10px;
            .show-selected{
                width: 145px;
                height: 40px;
                background-color: #0066CC;
                border-radius: 3px;
                font-family: Lato;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
                color: #FFFFFF;
                display: inline;
                cursor: pointer;
            }
            .cancel{
                cursor: pointer;
                display: inline;
                width: 90px;
                height: 40px;
                background-color: #FFFFFF;
                border: 1px solid rgba(54,54,54,0.3);
                border-radius: 3px;
                font-family: Lato;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
                color: rgba(54,54,54,0.7);
            }
        }
        .clear{
            cursor: pointer;
            float: right;
            margin-top: 15px;
            display: none;
            width: 84px;
            height: 40px;
            background-color: #0066CC;
            border-radius: 3px;
            font-family: Lato;
            font-size: 16px;
            text-align: center;
            line-height: 24px;
            color: #FFFFFF;
        }
    }
}
