@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';

.content{
    button{
        border: 0px;
        cursor: pointer;
    }
    table{
        border-collapse: collapse !important;
        border-spacing: 0px !important;
        width: 100%;
        th, td{
            padding: 0px;
            border-left: 1px solid rgba(54,54,54,0.1);
            box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.1);
            min-height: 56px;
        }
        .search-text{
            font-size: 24px;
            font-family: Lato;
            background: transparent;
            // border: none;
            &:hover{
                cursor: pointer;
                background: #F3F5F8;
            }
        }
        tr{
            max-height: 56px;
            .day-column{
                width: 55px;
                font-family: Lato;
                font-size: 14px;
                text-align: center;
                line-height: 17px;
                color: #363636;
                & label{
                    display: block;;
                }
                & .day-string{
                    color: rgba(54,54,54,0.7);
                    font-weight: normal;
                }
            }
            .search-icon{
                border-left: 0px;
                color: #898989;
            }
            .member{
                border: 0px;
                width: 180px;
                word-break: break-all;
                input{
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                    border: 0px;
                    max-width: 180px;
                    cursor: pointer;
                    height: 48px;
                    padding-left: 10px;
                }
                input:hover{
                    background: white;
                }
                .check-box{
                    // display: none;
                }
            }
            .multi-line{
                display: flex;
                align-items: center;
            }
            .search{
                border: 0px;
            }
            .checkeds{
                width: 22px;
                padding-right: 5px;
            }
            td{
                .avatar{
                    display: inline-block;
                    width: 32px;
                    min-width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-image: url('/assets/image-profile/default-avatar.png');
                    background-size: contain;
                    background-color: #ddd;
                    margin-right: 10px;
                }
                .inform{
                    display: inline-block;
                    .name-status{
                        .name{
                            font-family: Lato;
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 17px;
                            color: #363636;
                            display: inline-block;
                        }
                        .status{
                            height: 17px;
                            border-radius: 25px;
                            display: inline-block;
                            text-align: center;
                            vertical-align: middle;
                            font-family: Lato;
                            font-size: 10px;
                            line-height: 12px;
                            padding-top: 3px;
                        }
                        .pending{
                            color: #E98E3D;
                            background-color: #F7D8BC;
                        }
                        .approved{
                            color: #1FBDA0;
                            background-color: #BAEAE1;
                        }
                        .rejected{
                            color: #E25151;
                            background-color: #F5C6C6;
                        }
                    }
                    .member-type{
                        display: inline-block;
                        font-family: Lato;
                        font-size: 12px;
                        line-height: 15px;
                        color: rgba(54,54,54,0.7);
                        word-break: break-all;
                        span{
                            padding-right: 5px;
                        }
                    }
                }
                button{
                    background: none;
                    border: 0px;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
                .last-cel{
                    cursor: pointer;
                    .triangle{
                        border-top: 20px solid transparent;
                        border-left: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                        border-right: 25px solid #0066CC;
                        height: 42px;
                    }
                    .triangle-text{
                        font-family: Lato;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 19px;
                        color: #FFFFFF;
                        margin-top: -30px;
                        float: right;
                        text-align: center;
                        width: 20px;
                    }
                }
            }
        }
        tr:hover{
            background-color: #F6F8FD;
            .member >.check-box{ display: block;}
        }
    }
    .calendar-note{
        text-align: right;
        .thumble{
            width: 24px;
            height: 24px;
            margin-top: 20px;
        }
        label{
            vertical-align: super;
            font-family: Lato;
            font-size: 12px;
            line-height: 15px;
            color: rgba(54,54,54,0.7);
            margin-right: 5px;
        }
    }
    .cel-pending{
        height: 55px;
        cursor: pointer;
        background: -webkit-linear-gradient(135deg, white 25%, rgba(0, 102, 204, 0.8) 25%, rgba(0, 102, 204, 0.8) 50%, white 50%, white 76%, rgba(0, 102, 204, 0.8) 75%);
        background-size: 9px 9px;
        border: 0px;
    }
    .cel-approved{
        border: 0px;
        height: 55px;
        cursor: pointer;
        background: rgba(0,102,204,0.8) ;
    }
    .cel-weekend{
        height: 55px;
        background: #F1F1F1;
    }
    .cel-holiday{
        height: 55px;
        cursor: pointer;
        background: rgba(155,89,182,0.8)
    }
    .inline{
        display: inline-block;
    }
    .messages{
        height: 64px;
        background-color: #FFFFFF;
        box-shadow: 0 -1px 0 0 rgba(54,54,54,0.24);
        display: none;
        vertical-align: bottom;
        width: 100%;
        bottom: 0;
        left: 0;
        position: fixed;
        .content{
            width: 80%;
            margin: auto;
            label{
                font-family: Lato;
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
                color: rgba(54, 54, 54, 0.7);
                float: left;
                padding-top: 20px;
            }
            .action{
                float: right;
                padding-top: 10px;
                .show-selected{
                    width: 145px;
                    height: 40px;
                    background-color: #0066CC;
                    border-radius: 3px;
                    font-family: Lato;
                    font-size: 16px;
                    text-align: center;
                    line-height: 24px;
                    color: #FFFFFF;
                    display: inline;
                    cursor: pointer;
                }
                .cancel{
                    cursor: pointer;
                    display: inline;
                    width: 90px;
                    height: 40px;
                    background-color: #FFFFFF;
                    border: 1px solid rgba(54,54,54,0.3);
                    border-radius: 3px;
                    font-family: Lato;
                    font-size: 16px;
                    text-align: center;
                    line-height: 24px;
                    color: rgba(54,54,54,0.7);
                }
            }
            .clear{
                cursor: pointer;
                float: right;
                margin-top: 15px;
                display: none;
                width: 84px;
                height: 40px;
                background-color: #0066CC;
                border-radius: 3px;
                font-family: Lato;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
    }
    /deep/.ui-chkbox-box.ui-state-active{
        background: #0066CC;
        .fa-check:before{
            content: "\2714";
        }
    }
    /deep/.ui-overlaypanel-content{
        padding: 0;
        margin: 0;
        max-width: 323px;
    }
    .form-container{
        background-color: #FFFFFF;
        box-shadow: 0 5px 1px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 0 .4em 0 .4em;
        min-height: 220px;
        .thumble{
            width: 24px;
            height: 24px;
            margin-right: 5%;
            display: inline-block;
        }
        .header-status{
            height: 40px;
            box-shadow: inset 0 -1px 0 0 rgba(54, 54, 54, 0.1);
            border-radius: 5px 5px 0 0;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            p{
                font-family: Lato;
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
                color: #363636;
            }
        }
        i {
            color: rgba(54,54,54,0.7);
        }
        .days{
            height: 64px;
            box-shadow: inset 0 -1px 0 0 rgba(54, 54, 54, 0.1);
            border-radius: 5px 5px 0 0;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            .content{
                min-width: 256px;
                .details{
                    color: rgba(54,54,54,0.7);
                    .details-day{
                        height: 24px;
                        font-family: Lato;
                        font-size: 16px;
                        line-height: 24px;
                        color: #363636;
                        display: inline-block;
                    }
                }
                .day-left{
                    height: 17px;
                    font-family: Lato;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba(54,54,54,0.7);
                    strong{ color: #363636 }
                }
            }
        }
        .description{
            box-shadow: inset 0 -1px 0 0 rgba(54, 54, 54, 0.1);
            display: flex;
            padding-top: 10px;
            > i {
                margin-top: 6px;
                display: inline-block;
            }
            .content{
                display: inline-block;
                width: 100%;
                & label{
                    max-height: 80%;
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                    display: block;
                    word-break: break-all;
                }
                .request-from{
                    height: 17px;
                    font-family: Lato;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba(54, 54, 54, 0.7);
                    float: right;
                    margin-top: 5px
                }
            }
        }
        .form-group{
            height: 114px;
            -webkit-box-align: center;
            align-items: center;
            display: none;
            > textarea{
                background-color: #FFFFFF;
                border: 1px solid #DDE1E5;
                border-radius: 3px;
                width: 100%;
                height: 90px;
                font-family: Lato;
                font-size: 16px;
                line-height: 24px;
                color: #363636;
                resize: none;
            }
        }
        .control{
            height: 64px;
            background-color: #EEEEEE;
            border-radius: 0 0 5px 5px;
            font-family: Lato;
            padding-top: 15px;
            margin: 0 -0.4em 0 -0.4em;
            .answer{
                color: rgba(54, 54, 54, 0.7);
                text-align: center;
                font-size: 16px;
                line-height: 24px;
                display: inline-block;
                padding-left: 5px;
                .buttons{
                    display: none;
                }
                .drop-down{
                    display: block;
                    select{
                        width: 114px;
                        height: 32px;
                        background-color: #FFFFFF;
                        border: 1px solid rgba(54,54,54,0.3);
                        border-radius: 3px;
                        font-family: Lato;
                        font-size: 16px;
                        text-align: center;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                        padding: 0 5px 0 5px;
                        cursor: pointer;
                    }
                }
                .approve{
                    width: 94px;
                    height: 32px;
                    background-color: #FFFFFF;
                    border: 1px solid rgba(54, 54, 54, 0.3);
                    border-radius: 3px;
                    font-family: Lato;
                    font-size: 16px;
                    text-align: center;
                    line-height: 24px;
                    color: rgba(54, 54, 54, 0.7);
                    &:active{ border: 2px solid rgba(54, 54, 54, 0.3); }
                }
                .reject{
                    color: rgba(54, 54, 54, 0.7);
                    width: 70px;
                    height: 32px;
                    background-color: #FFFFFF;
                    border: 1px solid rgba(54,54,54,0.3);
                    border-radius: 3px;
                    &:active{ border: 2px solid rgba(54, 54, 54, 0.3); }
                }
                .approve-send{
                    width: 161px;
                    height: 40px;
                    background-color: #0066CC;
                    border-radius: 3px;
                    font-family: Lato;
                    font-size: 16px;
                    text-align: center;
                    line-height: 24px;
                    color: #FFFFFF;
                    &:active{ border: 0.2px solid white; }
                }
                .cancel{
                    display: none;
                    width: 90px;
                    height: 40px;
                    background-color: #FFFFFF;
                    border: 1px solid rgba(54,54,54,0.3);
                    border-radius: 3px;
                    font-family: Lato;
                    font-size: 16px;
                    text-align: center;
                    line-height: 24px;
                    color: rgba(54,54,54,0.7);
                    &:active{ border: 2px solid rgba(54, 54, 54, 0.3); }
                }
            }
        }
        .modify{
            padding-right: 5px;
            float: right;
            .oval{
                display: inline-block;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                opacity: 0.7;
                background-color: #FFFFFF;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24);
                margin-left: 10px;
                .text{
                    font-size: 14px;
                    text-align: center;
                    padding-top: 8px;
                    color: rgba(54, 54, 54, 0.7);
                }
            }
            .oval:hover{
                background-color:#ddd;
                cursor: pointer;
            }
        }
    }
}
/deep/.ui-growl-item {
    display: flex;
    font-family: Lato;
}
