.content{
    .request:hover{ background-color: #F3F5F8;}
    .request{
        box-shadow: inset 0 -1px 0 0 rgba(54, 54, 54, 0.1);
        display: inline-flex;
        width: 100%;
        padding: 2%;
        .avatar{
            display: inline-block;
            width: 64px;
            min-width: 64px;
            height: 64px;
            border-radius: 50%;
            background-image: url('/assets/image-profile/default-avatar.png');
            background-size: contain;
            background-color: #ddd;
        }
        .details{
            display: inline-block;
            margin-left: 20px;
            width: 100%;
            cursor: pointer;
            .inform{
                display: inline-block;
                .name{
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 24px;
                    color: #363636;
                }
                .days-off{
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .total-days-off{
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(54,54,54,0.7);
                    display: inline-block;
                }
            }
            .control{
                display: inline-block;
                width: 320px;
                float: right;
                .control-request{
                    display: inline-block;
                    & button{
                        cursor: pointer;
                        background-color: #FFFFFF;
                        height: 40px;
                        border: 1px solid rgba(54,54,54,0.3);
                        border-radius: 3px;
                        font-family: Lato;
                        font-size: 16px;
                        text-align: center;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                    }
                    button:hover{ background: #ddd;}
                    button:active{ border: 2px solid rgba(54,54,54,0.3); }
                    .approver{
                        width: 94px;
                        margin-right: 10px;
                    }
                    .reject{
                        width: 70px;
                        margin-right: 10px;
                    }
                }
                .control-inform{
                    display: none;
                    margin-right: 20px;
                    // margin-left: 25px;
                    .oval{
                        display: inline-block;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        opacity: 0.7;
                        background-color: #FFFFFF;
                        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24);
                        margin-left: 10px;
                        .text{
                            font-size: 14px;
                            text-align: center;
                            padding-top: 8px;
                            color: rgba(54, 54, 54, 0.7);
                        }
                    }
                    .oval:hover{
                        background-color:#ddd;
                        cursor: pointer;
                    };
                }
            }
            .description{
                display: none;
                font-family: Lato;
                cursor: pointer;
                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                }
                .description-details{
                    font-family: Lato;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 30px;
                    margin-top: 50px;
                    & p {
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba(54,54,54,0.7);
                        margin-bottom: 10px;
                    }
                    & .details-day{
                        display: inline-block;
                        color: #363636;
                    }
                    .details-arrow{
                        margin: 0 5% 0 5%;
                    }
                }
            }
            .request-at{
                font-family: Lato;
                font-size: 14px;
                line-height: 17px;
                color: rgba(54,54,54,0.7);
            }
        }
    }
}
