.content{
    .search-group{
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        margin-top: 2em;
        // input:focus{ background: #F3F5F8;}
        .search-text{
            font-size: 16px;
            font-family: Lato;
            background: transparent;
            border: none;
            line-height: 24px;
            height: 35px;
            width: 100%;
            box-shadow: inset 0 -1px 0 0 #EEEEEE;
            &:hover{
                // cursor: pointer;
                background: #F3F5F8;
            }
        }
        .imgspan{
            font-size: 20px;
            color: #898989;
            width: 20px;
            height: 20px;
            margin-right: 1em;
            display: block;
            margin-top: 8px;
        }
    }
    button{ border: 0px;}
    .request:hover{ background-color: #F3F5F8;}
    .request{
        box-shadow: inset 0 -1px 0 0 rgba(54, 54, 54, 0.1);
        display: inline-flex;
        width: 100%;
        padding: 2%;
        .avatar{
            display: inline-block;
            width: 64px;
            min-width: 64px;
            height: 64px;
            border-radius: 50%;
            background-image: url('/assets/image-profile/default-avatar.png');
            background-size: contain;
            background-color: #ddd;
        }
        .details{
            display: inline-block;
            margin-left: 20px;
            width: 100%;
            cursor: pointer;
            .inform{
                display: inline-block;
                .name-status{
                    .name{
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 24px;
                        color: #363636;
                        display: inline-block;
                    }
                    .status{
                        width: 54px;
                        height: 17px;
                        border-radius: 25px;
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        padding-bottom: 3px;
                        span{
                            width: 36px;
                            height: 12px;
                            font-family: Lato;
                            font-size: 10px;
                            line-height: 12px;
                        }
                    }
                    .pending{
                        color: #E98E3D;
                        background-color: #F7D8BC;
                    }
                    .approved{
                        color: #1FBDA0;
                        background-color: #BAEAE1;
                    }
                    .rejected{
                        color: #E25151;
                        background-color: #F5C6C6;
                    }
                }
                .days-off{
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .total-days-off{
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(54,54,54,0.7);
                    display: inline-block;
                }
            }
            .control{
                display: inline-block;
                width: 320px;
                float: right;
                .control-request{
                    display: inline-block;
                    & button{
                        cursor: pointer;
                        background-color: #FFFFFF;
                        height: 40px;
                        border: 1px solid rgba(54,54,54,0.3);
                        border-radius: 3px;
                        font-family: Lato;
                        font-size: 16px;
                        text-align: center;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                    }
                    button:hover{ background: #ddd;}
                    button:active{ border: 2px solid rgba(54,54,54,0.3); }
                    .approver{
                        width: 94px;
                        margin-right: 10px;
                    }
                    .reject{
                        width: 70px;
                        margin-right: 10px;
                    }
                    .form-container{
                        label{
                            font-family: Lato;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 24px;
                            color: #363636;
                        }
                        .form-group{
                            margin: 20px 0px 30px 0px;
                            textarea{
                                width: 364px;
                                height: 221px;
                                background-color: rgba(255,255,255,0);
                                box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
                                border: 0px;
                            }
                            textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
                                font-family: Lato;
                                font-size: 16px;
                                line-height: 24px;
                                color: rgba(54,54,54,0.3);
                            }
                            textarea::-moz-placeholder { /* Firefox 19+ */
                                color: pink;
                            }
                            textarea:-ms-input-placeholder { /* IE 10+ */
                                color: pink;
                            }
                            textarea:-moz-placeholder { /* Firefox 18- */
                                color: pink;
                            }
                        }
                        .approve{
                            width: 167px;
                            height: 40px;
                            background-color: #0066CC;
                            border-radius: 3px;
                            font-family: Lato;
                            font-size: 16px;
                            text-align: center;
                            line-height: 24px;
                            color: #FFFFFF;
                        }
                        .cancle{
                            width: 90px;
                            height: 40px;
                            background-color: #FFFFFF;
                            border: 1px solid rgba(54,54,54,0.3);
                            border-radius: 3px;
                            font-family: Lato;
                            font-size: 16px;
                            text-align: center;
                            line-height: 24px;
                            color: rgba(54,54,54,0.7);
                        }
                    }
                }
                .control-inform{
                    display: none;
                    margin-right: 20px;
                    float: right;
                    .oval{
                        display: inline-block;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        opacity: 0.7;
                        background-color: #FFFFFF;
                        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24);
                        margin-left: 10px;
                        .text{
                            font-size: 14px;
                            text-align: center;
                            padding-top: 8px;
                            color: rgba(54, 54, 54, 0.7);
                        }
                    }
                    .oval:hover{
                        background-color:#ddd;
                        cursor: pointer;
                    };
                }
            }
            .description{
                display: none;
                font-family: Lato;
                cursor: pointer;
                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                    word-break: break-all;
                }
                .description-details{
                    font-family: Lato;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 30px;
                    margin-top: 50px;
                    & p {
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba(54,54,54,0.7);
                        margin-bottom: 10px;
                        i {
                            color: red;
                        }
                        & .approved {
                            color: #1ABC9C;
                        }
                        & .rejected{
                            color: #f44336;
                        }
                    }
                    & .details-day{
                        display: inline-block;
                        color: #363636;
                    }
                    .details-arrow{
                        margin: 0 5% 0 5%;
                    }
                }
            }
            .request-at{
                font-family: Lato;
                font-size: 14px;
                line-height: 17px;
                color: rgba(54,54,54,0.7);
            }
        }
    }
    /deep/.ui-paginator{
        a{
            outline: none;
            cursor: pointer;
        }
        .fa-step-backward:before {
            content: "\F100";
        }
        .fa-step-forward:before {
            content: "\F101";
        }
        .fa-backward:before {
            content: "\F104";
        }
        .fa-forward:before {
            content: "\F105";
        }
        display: inline-block;
        width: 100%;
        padding: 10px 0px 10px 0px;
        background: white;
        font-family: -webkit-body;
        border: 0px;
        margin-bottom: 10px;
        .ui-paginator-page{
            padding: 8px 16px;
            text-decoration: none;
            line-height: 1.42857143;
            cursor: pointer;
            border-radius: 50% !important;
            border: forestgreen;
            background: #f5f5f5;
            color: black;
        }
        .ui-paginator-next, .ui-paginator-prev, .ui-paginator-last, .ui-paginator-first{
            border-radius: 50% !important;
            background: #f5f5f5;
            border: 0px;
            padding: 8px 16px;
            line-height: 1.42857143;
        }
        .ui-paginator-next:hover:not(.ui-state-disabled),
        .ui-paginator-prev:hover:not(.ui-state-disabled),
        .ui-paginator-last:hover:not(.ui-state-disabled),
        .ui-paginator-first:hover:not(.ui-state-disabled) {background-color: #ddd; color: black;}
        .ui-paginator-page.ui-state-active{
            background: green;
            color: white;
        }
        .ui-paginator-page:hover  {background-color: #ddd; color: black;}
    }
    /deep/.ui-growl-item {
        display: flex;
        font-family: Lato;
    }
}
