<h2>Pending request ({{_timeoffs.length}})</h2>

<div class="content">
    <div class="request" *ngFor="let timeoff of _timeoffs">
        <div class="avatar" *ngIf="!timeoff.sender.user.image"></div>
        <div class="avatar" *ngIf="timeoff.sender.user.image" [ngStyle]="{'background-image': 'url('+timeoff.sender.user.image+')'}" ></div>
        <div class="details" (click)="showDetails(timeoff.id)">
            <div class="inform">
                <span class="name">{{timeoff.sender.user.first_name + timeoff.sender.user.last_name}}</span> <br>
                <span class="days-off">Vacation on {{timeoff.start_date | date: 'MMM dd'}} - {{timeoff.end_date | date: 'MMM dd'}} </span> <span class="total-days-off">({{ (timeoff.end_date | amDifference: timeoff.start_date :'days' : true) + 1 - (timeoff.is_start_half_day? 0.5:0) - (timeoff.is_end_half_day? 0.5:0) }} days)</span> <br>
            </div>

            <div class="control">
                <div class="control-request">
                    <button class="approver">Approve</button>
                    <button class="reject">Reject</button>
                </div>
                <div class="control-inform">
                    <div class="oval" (click)="delete()">
                        <div class="text">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="oval" (click)="edit()">
                        <div class="text">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="description" id="description-{{timeoff.id}}">
                <p>{{timeoff.description}}</p>
                <div class="description-details" id="description-details-">
                    <p>This request</p>
                    <div class="details-day">{{ (timeoff.start_date | date: 'MMM  dd') + '     '+ (timeoff.is_start_half_day? '(Half day)':'(All day)') }}</div>
                    <i class="fa fa-long-arrow-right details-arrow" aria-hidden="true"></i>
                    <div class="details-day">{{ (timeoff.end_date | date: 'MMM  dd') + '     '+ (timeoff.is_end_half_day? '(Half day)':'(All day)') }}</div>
                </div>
            </div>
            <div class="request-at">Requested {{timeoff.created_at | amTimeAgo}}</div>
        </div>
    </div>
</div>
