@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
body{
    background-color: white !important;
}
.form-container{
    margin: auto;
    width: 80%;
    font-family: $headerFont;
    font-weight: bold;
    color: $colorHeader;
    input[type='checkbox']{
        margin-left: 10%;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        &:after{
            content: "  ";
            background-color: white;
            display: inline-block;
            visibility: visible;    
            width: 16px;
            height: 16px;
            border-radius: 3px;
            text-align: center;
            font-size: 14px;
            border: solid 0.5px $blueColor;
        }
        &:checked:after{
            content: "\2714";
            color: white;
            background-color: $blueColor
        }
    }
    .client-group{
        button{
            border: solid 0px white !important;
            background: $whiteBorder !important;
            width: 16%;
            height: 42px;
            border-radius: 50px !important;
            color: $fontWhiteBorder !important;
        }
    }
    h1{
        height: 48px;
        font-size: 40px;
        line-height: 48px;
    }

    h2{
        padding-bottom: 5px;
        height: 29px;
        font-size: 24px;
        line-height: 29px;
        box-shadow: inset 0 -1px 0 0 $whiteBorder; 
    }
    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0; 
        box-shadow: inset 0 -1px 0 0 $whiteBorder;
    }
    label{
        font-size: 18px;
    }
    select{
        margin-left: 17%;
        width: 30%;
        height: 40px;
        border: solid 0px white;
        background: transparent;
        box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
        outline: none;
    }
    input{
        height: 40px;
        box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
        border: solid 0px white;
        &#project-name{
            margin-left: 11%;
            width: 50%;
        }
        &#client{
            margin-left: 17%;
            width: 20%;
        }
        &#background-color{
            margin-left: 0%;
            width: 80px;
            height: 80px;
            background: transparent;
            border: none;
            outline: none;    
            box-shadow: none;        
        }
    }
    ul{
        list-style-type: none;
        display:table-row;
        padding: 0;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
        li{
            margin-top:0;
            display: inline-block;
            display: table-cell;
            padding-top: 0px;
            h4{
                padding: 0;
                margin: 0;
                font-size:16px;
            }
            p{
                padding: 0;
                margin: 0;
                color: $lightGrey;
            }
            &.bck-color,&.rep{
                width: 17%;
            }
            &.col-des,&.per-des{
                width:55%;
                padding-right:1%;
                line-height: 24px;
                p{
                    font-weight: normal;
                }
            }
            &.input-color{
                position:relative;
                top: 50px;
                left: 10px;
            }
        }
    }

    // -------------------------------- Team members --------------------------------
    .team-member{
        .member-table{
            width:89%;
            margin-left: 11%;
            text-align: left;
            tr{
                th{
                    font-weight: normal;
                    color: $fontWhiteBorder;
                    &.delete{
                        width:3%;
                    }
                    &.people-name{
                        width: 67%;
                    }
                    &.p-m{
                        width: 30%;
                    }
                }
                td{
                    img{
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                        }
                        tr{
                            td{
                                padding-right: 10px;
                                p{
                                    margin: 0;
                                    padding: 0;
                                    line-height:24px;
                                    &.name{
                                    }
                                    &.email{
                                        font-weight: normal;
                                        color: #7B7B7B;
                                    }
                                }
                            }
                        }
                }
                input{
                    box-shadow: none;
                }
                &.data{
                    box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
                }
                button{
                    color: $fontWhiteBorder;
                    background-color: transparent;
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    border: none;
                }
            }
        }
        .add-btn
        {
            background: $whiteBorder;
            width: 20%;
            height: 32px;
            border-radius: 50px;
            color: $fontWhiteBorder;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            margin-left: 14%;
            box-shadow: none;
        }
        a.add-all{
            font-weight: normal;
            margin-left: 2%;
            color: rgba(54,54,54,0.7);
        }
        .notice{
            float: right;
            margin: 0;
            p{
                margin: 0;
                font-weight: normal;
                line-height: 24px;
                a {
                    color: $blueColor;
                }
            }
        }
        .member-to-add{
            width: 300px;
            height: auto;
            background: white;
            position: absolute;
            z-index: 1;
            margin-left: 8%;
            box-shadow: 0px 1px 1px rgba(54,54,54,0.3);
            &::after{
                content: "  ";
                height: 24px;
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent white transparent;
            }

            table{
                width: 100%;
                text-align: left;
                font-weight: normal;
                border-spacing: 0;
                padding-top: 20px;
                padding-bottom: 20px;
                tr{
                    width: 100%;
                    &:hover{
                        background-color: $blueColor;
                        color: white;
                        .email{
                            color: white !important;
                        }
                        cursor: pointer;
                    }
                    td{
                        &.avatar{
                            padding-left: 10%;
                        }
                        img{
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                        }
                        p{
                            margin: 0;
                            padding: 0;
                            line-height:24px;
                            font-weight: normal;
                            &.name{

                            }
                            &.email{
                                color: #7B7B7B;
                            }

                        }
                    }
                }
            }
        }
        .hidden{
            display:none;
        }
    }
    // -------------------------------- end Team member --------------------------------
    // -------------------------------- Adding Tasks --------------------------------
    .tasks{
        .tasks-table{
            text-align: left;
            width: 100%;
            tr{
                &.data{
                    box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
                }
                th{
                    font-weight: normal;
                    color: $fontWhiteBorder;
                    &.delete-name{
                        width: 20%;
                    }
                    &.member-list{
                        width: 60%;
                    }
                    &.billable{
                        width: auto;
                    }
                }
                td {
                    padding-bottom: 30px;
                    font-weight: normal;
                    &.task-name{
                        font-weight: bold;
                        font-size: 18px;
                        width: 10%;
                        button{
                            color: $fontWhiteBorder;
                            background-color: transparent;
                            width: auto;
                            height: auto;
                            margin: auto;
                            margin-right: 0;
                            border: none;
                            width: 10%;
                            height: 20px;
                            position: relative;
                            top: 5px;
                        }
                    }
                }
                input{
                    box-shadow: none;
                    &.chkbx{
                        margin: 0;
                        height: 13px;
                    }
                }
            }
        }
        .add-task-btn{
            border: solid 0px white !important;
            background: $whiteBorder !important;
            width: 16% !important;
            height: 42px !important;
            border-radius: 50px !important;
            color: $fontWhiteBorder !important;
            font-size: 16px;
            line-height: 24px;
            &:hover{
                cursor: pointer !important;
            }
        }
    }
    .per-btns,.form-btns{
        button{
            width: 121px;
            height: 42px;
            background-color: white;
            font-family: $headerFont;
            font-size: 16px;
            text-align: center;
            line-height: 24px;
            margin: 0px;
            padding: 0px;
            border: solid 1px black !important;
            margin-right: 10px;
        &:hover{
            cursor: pointer;
        }
        &.active{
            background-color: $blueColor !important;
            color: white !important;
            }
        }
    }
    .per-btns{
        button{
            margin: 0px;
            float: left;
            &#left-btn{
                border-right: none !important;
            }
            &#right-btn{
                border-left: none !important;
            }
        }
    }
}
/deep/ .ui-dialog{
    .ui-dialog-titlebar{
        background-color: $whiteBorder;
        font-family: $headerFont;
        color: $fontWhiteBorder;
    }
    button{
    width: 121px;
    height: 42px;
    background-color: white;
    font-family: $headerFont;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    border: solid 1px black !important;
    margin-right: 10px;
    &.active{
        background-color: $blueColor !important;
        color: white !important;
        }
    }
}
