@import '../../general-style/color-style.scss';
@import '../../general-style/font-style.scss';
.content{
    color: #212345;
    text-align: center;
    h1{
        font-family: $headerFont;
        margin: 80px;
    }
    h3{
        font-family: $contentFont;
    }
}