<div class="table-content">
    <table>
        <tr class="table-header">
            <th>
                Member
            </th>
            <th class="right-colum">Tracked(h)</th>
        </tr>
        <tbody>
            <tr class="project-line" >
                <td style="width: 60%;">
                    <div class="plus inline" (click)="team_user_details()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="project-user inline"><div class="oval user-avatar"></div></div>
                    <div class="column-text inline">
                        <div class="text">
                            <div class="inline">Minnie P</div>
                            <div class="user-pm inline">
                                <span class="user-pm-text">PM</span>
                            </div>
                        </div>

                        <div class="user-tasks" (click)="team_user_details()">
                            6 tasks
                        </div>
                        
                        <div class="group-tasks">
                            <div class="text">
                                hoan lac thien
                            </div>

                            <div class="text">
                                hoan lac thien
                            </div>

                            <div class="text">
                                hoan lac thien
                            </div>
                        </div>
                    </div>
                </td>
                <div class="right-colum"> 150 </div>
            </tr>
        </tbody>
    </table>
</div>
