<div class="table-content">
    <table>
        <tr class="table-header">
            <th>
                Member
            </th>
            <th class="right-colum">Tracked(h:m:s)</th>
        </tr>
        <tbody *ngIf="project && membersDistionary">
            <tr class="project-line" *ngFor="let member of membersDistionary" id="team-row-{{member.user.id}}">
                <td style="width: 60%;">
                    <div class="plus inline" (click)="team_user_details(member.user.id)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="project-user inline"><div class="oval user-avatar"></div></div>
                    <div class="column-text inline" >
                        <div class="text">
                            <div class="inline">{{member.user.first_name}}</div>
                            <div *ngFor="let role of member.roles">
                                <div class="user-pm inline" *ngIf="role.name=='PM'">
                                    <span class="user-pm-text">PM</span>
                                </div>
                            </div>
                        </div>

                        <div class="user-tasks" (click)="team_user_details()">
                            {{categoryOfMemberHash.get(member.user.id).length + ' Tasks'}}
                        </div>

                        <div class="group-tasks" *ngFor="let categogy of (categoryOfMemberHash.get(member.user.id))">
                            <div class="text">
                                {{categogy}}
                            </div>
                        </div>
                    </div>
                </td>
                <div class="right-colum"> {{member.tracked_time}} </div>
            </tr>
        </tbody>
    </table>
</div>
