<div class="table-content">
    <table>
        <tr class="table-header">
            <th>
                Member
            </th>
            <th class="right-colum">Tracked(h:m)</th>
        </tr>
        <tbody *ngIf="project && membersDistionary">
            <tr class="project-line" *ngFor="let member of project.members" id="team-row-{{member.user.id}}">
                <td style="width: 60%;">
                    <div class="plus inline" (click)="team_user_details(member.id)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="project-user inline">
                        <div *ngIf="!member.user.image" class="oval user-avatar"></div>
                        <div *ngIf="member.user.image" class="oval user-avatar" [ngStyle]="{'background-image': 'url('+member.user.image+')'}"></div>
                    </div>
                    <div class="column-text inline" >
                        <div class="text">
                            <div class="inline">{{member.user.first_name + ' ' + member.user.last_name}}</div>
                            <div *ngFor="let role of member.roles">
                                <div class="user-pm inline" *ngIf="role.name =='PM'">
                                    <span class="user-pm-text">PM</span>
                                </div>
                            </div>
                        </div>

                        <div class="group-tasks user-tasks" (click)="team_user_details()">
                            <div class="text">
                                {{categoryOfMemberHash.get(member.user.id).length + ' Tasks'}}
                            </div>
                        </div>

                        <div class="group-tasks user-list-tasks" *ngFor="let cate_mem of (categoryOfMemberHash.get(member.user.id))">
                            <div class="text">
                                {{cate_mem.category.name}}
                            </div>
                        </div>
                    </div>
                </td>
                <div class="right-colum">
                    {{member.tracked_time | timeFromSeconds}}
                    <div class="member-tracker team-tracked-details">
                        <div class="team-tracked-details-text"  *ngFor="let categogy of (categoryOfMemberHash.get(member.user.id))">
                            {{categogy.tracked_time | timeFromSeconds}}
                        </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div>
