<div class="content">
    <div class="search-group">
        <span class="fa fa-search imgspan"></span>
        <input class="search-text" type="text" [(ngModel)]="searchPattern" (keyup)="search()" placeholder="Search People"/>
    </div>

    <div class="request" *ngFor="let timeoff of current_timeoffs.slice((current_page -1)*rowOfPage, current_page*rowOfPage)" (mouseover)='showTimeoffControl(true, timeoff.id)' (mouseleave)='showTimeoffControl(false, timeoff.id)'>
        <div class="avatar" *ngIf="!timeoff.sender.user.image"></div>
        <div class="avatar" *ngIf="timeoff.sender.user.image" [ngStyle]="{'background-image': 'url('+timeoff.sender.user.image+')'}" ></div>
        <div class="details">
            <div class="inform" (click)="showDetails(timeoff.id)">
                <div class="name-status">
                    <div class="name">{{timeoff.sender.user.first_name + ' ' + timeoff.sender.user.last_name}}</div>
                    <div *ngIf="is_show_all" class="status {{timeoff.status}}">
                        <span>{{timeoff.status | capitalize}}</span>
                    </div>
                </div><br>
                <span class="days-off">Vacation on {{timeoff.start_date | date: 'MMM dd'}} - {{timeoff.end_date | date: 'MMM dd'}} </span>
                <span class="total-days-off">
                    ({{ (timeoff.end_date | amDifference: timeoff.start_date :'days' : true) + 1 - (timeoff.is_start_half_day? 0.5:0) - (timeoff.is_end_half_day? 0.5:0) }} days)
                </span> <br>
            </div>

            <div class="control" *ngIf="((timeoff.created_at | amDateFormat: 'YYYY-MM-DD') >= (this_year | amDateFormat: 'YYYY-MM-DD'))">
                <div class="control-request">
                    <div  *ngIf="(user.role.name == 'Admin' && (user.id != timeoff.sender.id)) || (user.role.name == 'PM' && (user.id != timeoff.sender.id) && ('Admin' != timeoff.sender.role.name)) ">
                        <button class="approver" (click)="answer.toggle($event); showForm('approved')">Approve</button>
                        <button class="reject"   (click)="answer.toggle($event); showForm('rejected')">Reject</button>
                    </div>
                    <p-overlayPanel #answer>
                        <div class="form-container">
                            <form (ngSubmit)="update(timeoff.id); answer.hide($event, actualTarget)">
                                <label for="">Your response</label>
                                <div class="form-group">
                                    <textarea [(ngModel)]="timeOffPut.answer_timeoff_request.approver_messages" name="answer" placeholder="Say something ..." required ></textarea>
                                </div>
                                <button class="approve" type="submit">{{timeOffPut.answer_timeoff_request.status | capitalize}} & Send</button>
                                <button  class="cancle" type="button" (click)="answer.hide($event, actualTarget)">Cancel</button>
                            </form>
                        </div>
                    </p-overlayPanel>
                </div>
                <div id="timeoff-control-{{timeoff.id}}" class="control-inform" *ngIf="((timeoff.start_date | amDateFormat: 'YYYY-MM-DD') <= (today | amDateFormat: 'YYYY-MM-DD') || timeoff.status == 'pending')">
                    <div class="oval" (click)="delete(timeoff.id)">
                        <div class="text">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="oval" (click)="edit(timeoff.id)">
                        <div class="text">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="description" id="description-{{timeoff.id}}" (click)="showDetails(timeoff.id)">
                <p>{{timeoff.description}}</p>
                <div class="description-details">
                    <p>This request</p>
                    <div class="details-day">{{ (timeoff.start_date | date: 'MMM  dd') + '     '+ (timeoff.is_start_half_day? '(Half day)':'(All day)') }}</div>
                    <i class="fa fa-long-arrow-right details-arrow" aria-hidden="true"></i>
                    <div class="details-day">{{ (timeoff.end_date | date: 'MMM  dd') + '     '+ (timeoff.is_end_half_day? '(Half day)':'(All day)') }}</div>
                    <p *ngIf="timeoff.status != 'pending'"><i class="{{timeoff.status}}">Message: {{timeoff.approver_messages}}</i></p>
                </div>
            </div>
            <div class="request-at">Requested {{timeoff.created_at | amTimeAgo}}</div>
        </div>
    </div>
    <div *ngIf="current_timeoffs.length > rowOfPage"><p-paginator rows="{{rowOfPage}}" totalRecords="{{current_timeoffs.length}}" (onPageChange)="paginates($event)"></p-paginator></div>
    <p-growl [value]="msgs" [life]="3000" ></p-growl>
</div>
