<div class="content">
    <p-schedule [events]="holidays" [header]="headerConfig"  [editable]="true" locale="en"
        (onDayClick)="handleDayClick($event); " (onEventClick)="handleEventClick($event); "
        (onEventDragStop)="onEventDragStop($event)" (onEventResizeStop)="onEventResizeStop($event)" #fc>
    </p-schedule>
</div>

<p-dialog header="Holiday Details" [(visible)]="dialogVisible" [resizable]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Title</label></div>
            <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="holiday.title" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">Start</label></div>
            <div class="ui-grid-col-8"><p-calendar [(ngModel)]="holiday.start" dateFormat="dd/mm/yy" dataType="string"  readonlyInput="readonlyInput"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="end">End</label></div>
            <div class="ui-grid-col-8"><p-calendar [(ngModel)]="holiday.end" dateFormat="dd/mm/yy" dataType="string"  readonlyInput="readonlyInput"></p-calendar></div>
        </div>
    </div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete"></button>
        <button type="button" pButton icon="fa-check" (click)="saveEvent(fc)" label="Save"></button>
    </div>
</p-dialog>
<p-growl [value]="msgs" [life]="5000" ></p-growl>
