.header{
    button{ border: 0px;}
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    color: rgba(54,54,54,0.7);
    margin-top: 20px;
    & p{
        display: inline-block;
        & strong{
            font-size: 18px;
            color: #363636;
            line-height: 22px;
        }
    }
    & .sort{
        float: right;
        select{
            cursor: pointer;
            height: 24px;
            font-family: Lato;
            font-size: 16px;
            line-height: 24px;
            color: rgba(54,54,54,0.7);
            border: 0px;
            background: white;
            & option{
                cursor: pointer;
            }
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.content{
    margin-bottom: 5em;
    .search-group{
        box-shadow: inset 0 -1px 0 0 #EEEEEE;
        width: 100%;
        display: flex;
        margin-top: 2em;
        // input:focus{ background: #F3F5F8;}
        .search-text{
            font-size: 16px;
            font-family: Lato;
            background: transparent;
            border: none;
            line-height: 24px;
            height: 35px;
            width: 100%;
            &:hover{
                // cursor: pointer;
                background: #F3F5F8;
            }
            &:focus{background: #F3F5F8;}
        }
        .imgspan{
            font-size: 20px;
            color: #898989;
            width: 20px;
            height: 20px;
            margin-right: 1em;
            display: block;
            margin-top: 8px;
        }
    }
    .request:hover{ background-color: #F3F5F8;}
    .request{
        width: 100%;
        background-color: rgba(255,255,255,0);
        .thumbnai{
            box-shadow: inset 0 -1px 0 0 #DDE1E5;
            display: inline-flex;
            width: 100%;
            padding-bottom: 3%;
            padding-bottom: 30px;
            padding-top: 30px;
            .dates{
                float: left;
                margin-right: 50px;
                .dates-content{
                    width: 190px;
                    min-width: 190px;
                    height: 130px;
                    background-color: #ECF0F1;
                    border-radius: 16px;
                    .from-date{
                        width: 50%;
                        height: 100%;
                        display: inline-block;
                        text-align: center;
                        background-color: rgba(0,0,0,0.07);
                        border-radius: 16px 0 0 16px;
                    }
                    .to-date{
                        display: inline-block;
                        text-align: left;
                        float: right;
                        margin-right: -11%;
                        margin-top: -17%;
                        .month{
                            padding-top: 0%;
                        }
                        .status{
                            width: 96px;
                            height: 40px;
                            box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
                            border-radius: 100px;
                            font-family: Lato;
                            font-size: 16px;
                            line-height: 24px;
                            color: #FFFFFF;
                            text-align: center;;
                            & p{padding: 8%;}
                        }
                        .approved{
                            background-color: #1ABC9C;
                        }
                        .rejected{
                            background-color: #f44336;
                        }
                        .pending{
                            background-color: #ffb300;;
                        }
                        .archived{
                            background-color: black;;
                        }
                    }
                    .date{
                        font-family: Lato;
                        font-size: 48px;
                        line-height: 57px;
                        color: #0066CC;
                    }
                    .month{
                        padding-top: 25%;
                        font-family: Lato;
                        font-size: 16px;
                        line-height: 24px;
                        color: #0066CC;
                    }

                    .remain-date{
                        font-family: "Lucida Grande";
                        font-size: 16px;
                        text-align: center;
                        line-height: 18px;
                        color: rgba(54, 54, 54, 0.7);
                        margin-top: -13%;
                    }

                    .right-arrow{
                        float: right;
                        margin-top: -43%;
                        margin-right: -8%;
                        color: rgba(54,54,54,0.3);
                    }
                }
            }
            .show-details{
                width: 100%;
                .control{
                    display: inline-block;
                    float: right;
                    .control-inform{
                        display: none;
                        margin-right: 20px;
                        // margin-left: 25px;
                        .oval{
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            opacity: 0.7;
                            background-color: #FFFFFF;
                            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24);
                            margin-left: 10px;
                            .text{
                                font-size: 14px;
                                text-align: center;
                                padding-top: 8px;
                                color: rgba(54, 54, 54, 0.7);
                            }
                        }
                        .oval:hover{
                            background-color:#ddd;
                            cursor: pointer;
                        };
                    }
                }
                .description{
                    font-family: Lato;
                    cursor: pointer;
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        color: #363636;
                        word-break: break-word
                    }
                    .description-details{
                        font-family: Lato;
                        font-size: 14px;
                        line-height: 17px;
                        margin-bottom: 30px;
                        margin-top: 50px;
                        display: none;
                        & p {
                            font-size: 14px;
                            line-height: 17px;
                            color: rgba(54,54,54,0.7);
                            margin-bottom: 10px;
                            i {
                                color: red;
                            }
                            & .approved {
                                color: #1ABC9C;
                            }
                            & .rejected{
                                color: #f44336;
                            }
                        }
                        & .details-day{
                            display: inline-block;
                            color: #363636;
                        }
                        .details-arrow{
                            margin: 0 5% 0 5%;
                        }
                    }
                    .footer{
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba(54,54,54,0.7);
                        & .time-request{
                            display: inline-block;
                        }
                        & .time-request-block{
                            width: 4px;
                            height: 4px;
                            background-color: #DDDDDD;
                            display: inline-block;
                            margin: 0 8px 0 8px;
                        }
                    }
                }
            }
        }
    }
    /deep/.ui-paginator{
        a{
            outline: none;
            cursor: pointer;
        }
        .fa-step-backward:before {
            content: "\F100";
        }
        .fa-step-forward:before {
            content: "\F101";
        }
        .fa-backward:before {
            content: "\F104";
        }
        .fa-forward:before {
            content: "\F105";
        }
        display: inline-block;
        width: 100%;
        padding: 10px 0px 10px 0px;
        background: white;
        font-family: -webkit-body;
        border: 0px;
        margin-bottom: 10px;
        .ui-paginator-page{
            padding: 8px 16px;
            text-decoration: none;
            line-height: 1.42857143;
            cursor: pointer;
            border-radius: 50% !important;
            border: forestgreen;
            background: #f5f5f5;
            color: black;
        }
        .ui-paginator-next, .ui-paginator-prev, .ui-paginator-last, .ui-paginator-first{
            border-radius: 50% !important;
            background: #f5f5f5;
            border: 0px;
            padding: 8px 16px;
            line-height: 1.42857143;
        }
        .ui-paginator-next:hover:not(.ui-state-disabled),
        .ui-paginator-prev:hover:not(.ui-state-disabled),
        .ui-paginator-last:hover:not(.ui-state-disabled),
        .ui-paginator-first:hover:not(.ui-state-disabled) {background-color: #ddd; color: black;}
        .ui-paginator-page.ui-state-active{
            background: green;
            color: white;
        }
        .ui-paginator-page:hover  {background-color: #ddd; color: black;}
    }
}
/deep/.ui-growl-item {
    display: flex;
    font-family: Lato;
}
