@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    overflow: hidden;
    background-color: $colorMain;
    text-align: center;
}

li {
    display: inline-block;
    a {
        display: inline-block;
        color: white;
        font-family: $headerFont;
        font-size: 16px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    
        &:hover:not(.active) {
            background-color: #111;
        }
    }
    &.iconApp{
        float: left !important;
        padding-left: 2%;
        p{
            display: inline-block;
            margin: 0;
            padding: 0;
            font-size: 18px;
        }
        img{
            height: 18px;
            width: 32px;
        }
    }
    &.user-corner{
        float: right !important;
        padding-right: 2%;
        padding-top: 2px;
        img{
            width: 22px;
            height: 22px;
            margin-top: 10px;
        }
    }

    /deep/ .ui-menu{
        border-radius: 0%;
        background: white;
        .ui-menuitem{
            border-radius: 0%;
            font-family: $headerFont;
            .ui-menuitem-link:hover{
                background-color: $colorMain;
            }
        }
    }
    @media only screen and (min-width: 1700px) {
        /deep/ .ui-menu{
            left: 1280px !important;
        }
    } 
}
.ui-button{
    top: 7px;
    background: $colorMain !important;
    border: solid 0px $colorMain !important; 
}
.active {
    border-bottom: solid 5px $activeColor;
}