<div class="menuContaier">
  <ul>
    <li class="iconApp"><a routerLink="/">TimeCloud</a></li>
    <li><a [class]="classActive[0]" routerLink="/dashboard">Your Timer</a></li>
    <li><a [class]="classActive[1]" routerLink="/projects">Projects</a></li>
    <li><a [class]="classActive[2]" routerLink="/timeoffs">Time Off</a></li>
    <li><a [class]="classActive[3]" routerLink="#">Report</a></li>
    <li><a [class]="classActive[4]" routerLink="/manage-member">Manage</a></li>
    <li class="user-corner">
      <img *ngIf="imageUrl==null" src="assets/image-profile/default-avatar.png" style="float:left; border-radius: 50%;" />
      <img *ngIf="imageUrl!=null" [src]="imageUrl" style="float:left; border-radius: 50%;" />
      <p-menu #menu popup="popup" [model]="items"></p-menu>
      <button type="button" pButton [label]="user.name" (click)="menu.toggle($event)"></button>
    </li>
  </ul>
</div>
