@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $colorMain;
    text-align: center;
}

li {
    display: inline-block;
    a {
        display: inline-block;
        color: white;
        font-family: $headerFont;
        font-size: 16px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    
        &:hover:not(.active) {
            background-color: #111;
        }
    }
    &.iconApp{
        float:right !important;
    }
    /deep/ .ui-menu{
        border-radius: 0%;
        background: white;
        .ui-menuitem{
            border-radius: 0%;
            font-family: $headerFont;
            .ui-menuitem-link:hover{
                background-color: $colorMain;
            }
        }
    }
}
.ui-button{
    top: 7px;
    background: $colorMain !important;
    border: solid 0px $colorMain !important; 
}
.active {
    border-bottom: solid 5px $activeColor;
}