@import '../../general-style/color-style.scss';
@import '../../general-style/font-style.scss';
.timer-container{
    font-family: $headerFont;
    &:hover{
        cursor: pointer;
        background: #F6F7FD;
    }
    .aa,.aaa{
        display:inline-block;
    }
    .aaa{
        .ui-button{
            background: transparent;
            border-radius: 50px;
            color: $fontWhiteBorder;
            font-size: 20px;
            border: none;
        }
    }
    .hidden{
        .ui-button{
            background: transparent;
            border-radius: 50px;
            color: $fontWhiteBorder;
            font-size: 20px;
            border: none;
        }
        visibility: hidden;
    }
    ul{
        list-style-type: none;
        display: table;
        padding: 0;
        padding-top: 20px;
        width: 90%;
        box-shadow: inset 0 -1px 0 0 #EEEEEE;
        height: 35px;
        li{
            display: inline-block;
            
            &.des{
                width: 40%;
                p.p-des{
                    max-width: 100%;
                    white-space: nowrap;
                }
            }
            &.pro-ta{
                width: 33%;
                .dot{
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    margin-right: 2%;
                    margin-left: 10%;
                }
            }
            &.fro-to{
                width: 16%;
                font-size: 14px;
            }
            &.to-ti{
                float:right;
                
            }
            &:hover{
                p{
                    border-bottom: solid 2px $blueColor;
                }
            }
            p{
                padding: 0;
                margin: 0;
                border-bottom: solid 0px transparent;
                transition: border-color 1s ease;
                display:inline-block;
                
            }
        }
    }
}
.hiddenDiv{
    display: none;
}
.dropdown{
    font-family: $headerFont;
    background: white;
    box-shadow: 0px 2px 10px $whiteBorder;
    position: absolute;
    z-index: 2;
    &.div-des{
        max-height: 400px;
        margin-left: 0%;
        width: 29.5%;
        .content{
            max-height: 350px;
            overflow-y: auto;
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar {
                width: 6px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $blueColor;
            }
        } 
    .search-box{
            width: 98%;
            padding: 1%;
            height: 28px;
            border-bottom: solid 1px $shadowColor;
            .search-text{
                width: 82%;
                font-size: 16px;
                padding: 1%;
                position: absolute;
            }
            .imgspan{
                -webkit-text-stroke: 1px white;
                z-index: 3;
                position: absolute;
                left: 79%;
                top: 10px;
                font-size: 16px;
                height: 20px;
                width: 20px;
                text-align: center;
                color: #727272;
                &.submit{
                    left: 87%;
                    color: green;
                }
                &.cancel{
                    left: 93%;
                    color: red;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }              
    }
    &.div-task{
        max-height: 400px;
        margin-left: 30%;
        width: 25%;
        .content{
            padding-top: 0;
            margin-top: 0;
            max-height: 350px;
            overflow-y: auto;
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar {
                width: 6px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $blueColor;
            }
        } 
        .search-box{
            width: 98%;
            padding: 1%;
            height: 28px;
            border-bottom: solid 1px $shadowColor;
            .search-text{
                width: 82%;
                font-size: 16px;
                padding: 1%;
                position: absolute;
            }
            .imgspan{
                -webkit-text-stroke: 1px white;
                z-index: 3;
                position: absolute;
                left: 79%;
                top: 2%;
                font-size: 16px;
                height: 20px;
                width: 20px;
                text-align: center;
                color: #727272;
                &.submit{
                    left: 87%;
                    color: green;
                }
                &.cancel{
                    left: 93%;
                    color: red;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }       
    }
    &.div-time{
        height: 350px;
        margin-left: 55.5%;
        width: 24.5%;
        background-color: white;
        z-index: 2;
        table.edit-time{
            margin-top: 16px;
            margin-left: 16px;
            width: 80%;
            td{
                font-size: 12px;
                padding: 0;
                p{
                    padding: 0;
                    margin: 0;
                }
                &.total-time{
                    font-size: 16px;
                    vertical-align: bottom;
                    p.time-label{
                        margin-bottom: 2px;
                    }
                }
                .time-picker{
                    font-family: Lato;
                    color: $fontWhiteBorder;
                    border: none;
                    &:focus{
                        background: #ABDCFF;
                        background-size: 70%;
                    }
        
                }
            }
        }
        .option{
            height: 260px;
            width: 80%;
            z-index: 4;
            position: absolute;
            background: $blueColor;
            color: white;
            margin-top: 10px;
            &:after{
                z-index: 4;
                content: " ";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent #2548CE transparent;
            }
            &.start{
                left: -30%;
            }
            &.end{

            }
            &.hide{
                display: none;
            }
            table.table-option{
                width: 90%;
                margin-top: 3%;
                margin-left: 5%;
                padding: 0;
                table-layout: fixed;
                tr.table-head{
                    th{
                        font-weight: normal;
                        width: 50%;
                        font-size: 12px;
                    }
                }
                tr.table-data{
                    td{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        p{
                            margin: 0;
                            &.op-name{
                                font-size: 13px;
                            }
                            &.op-value{
                                font-size: 12px
                            }
                        }
                        &:hover{
                            cursor: pointer;
                            background: gray;
                        }
                    }
                }
            }
        }
        .imgspan{
            -webkit-text-stroke: 1px white;
            z-index: 3;
            position: absolute;
            left: 79%;
            top: 10px;
            font-size: 16px;
            height: 20px;
            width: 20px;
            text-align: center;
            color: #727272;
            &.submit{
                left: 87%;
                color: green;
            }
            &.cancel{
                left: 93%;
                color: red;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .calendar{
            position: absolute;
            bottom: 0px;
            width: 100%;
            margin: auto;
            /deep/.ui-calendar{
                width: 100%;
                .ui-datepicker{
                    width: 100%;
                    border: none !important;
                    .ui-datepicker-header{
                        background: transparent;
                    }
                    .ui-datepicker-calendar{
                        thead{
                            th {
                                background: transparent;
                            }
                            border-bottom: solid 1px black;
                        }
                    }
                }
            }
        }
    }
}