<div>
<div *ngIf="!isLoading" class="container">
<br/><br/>
<div class="search-group" *ngIf="projectJoins.length > 0">
    <span [class]="classImageSearch"></span>
    <input class="search-text" type="text" [(ngModel)]="searchPattern"
    (keyup)="doFilter()" (focus)="onFocus()" (blur)="onBlur()"/>
</div>
<br/>
<p-carousel *ngIf="projectJoins.length > 0" numVisible="5" headerText="" [value]="projectJoinsSearch">
    <template let-project>
        <div class="project-field">
            <app-project-field (outCategory)="selectCategory($event)" [myProject]="project"
            [currentCategory]="currentCategory"></app-project-field>
            <br/>
        </div>
    </template>
</p-carousel>
</div>
<app-loading-screen *ngIf="isLoading"></app-loading-screen>
</div>