.container{
    // background-color: #ecf0f5;
    margin: auto;
    width: 90%;
    .header{
        height: 5em;
        margin-bottom: 1em;
        .search-group{
            min-width: 30%;
            display: -webkit-inline-box;
            margin-top: 1em;
            .search-text{
                font-size: 16px;
                width: 80%;
                font-family: Lato;
                background: transparent;
                border: none;
                line-height: 24px;
                // &:hover{
                //     cursor: pointer;
                //     background: #F3F5F8;
                // }
                box-shadow: inset 0 -1px 0 0 #EEEEEE;
            }
            .imgspan{
                font-size: 20px;
                color: #898989;
                width: 20px;
                height: 20px;
                margin-right: 1em;
            }
            .imghidden{
                visibility: hidden;
            }
        }
        button{
            border: 0px;
            width: 167px;
            height: 40px;
            background-color: #0066CC;
            border-radius: 3px;
            &.button-create{
                font-family: Lato;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
                color: #FFFFFF;
                float: right;
                cursor: pointer;
            }
        }
    }
    .content{
        margin-bottom: 4em;
        margin-top: 3em;
        display: flex;
        .members{
            display: inline-block;
            min-width: 320px;;
            padding-top: 6em;
            sticky{
                padding-top: 6em;
            }
            .members-content{
                background: white;
                width: 320px;;
                border-radius: 3px;
                box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
                border-top: 3px solid #d2d6de;
                border-top-color: #dd4b39;
                font-family: Lato;
                font-size: 16px;
                line-height: 24px;
                // position: fixed;
                // bottom: 1em;
                .header{
                    color: #444;
                    display: block;
                    padding: 10px;
                    position: relative;
                    border-bottom: 1px solid #f4f4f4;
                    height: auto;
                    .search-group{
                        display: inline-block;
                        float: right;
                        margin: 0;
                        padding: 0;
                        width: initial;
                        text-align: right;
                        .imgspan{
                            margin-right: 0px;
                        }
                    }
                }
                .body{
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                    min-height: 270px;
                    overflow: auto;

                }
                .footer{
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border-top: 1px solid #f4f4f4;
                    padding: 10px;
                    background-color: #fff;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: #3c8dbc;
                    }
                }
            }
        }
        .job-content{
            display: inline-block;
            width: 80%;
            min-width: 320px;
            margin-left: 2em;
            .job{
                background: white;
                width: 100%;
                min-height: 50px;
                border-top-color: #f39c12;
                box-shadow: 0 1px 15px rgba(0,0,0,0.1);
                // margin-bottom: 1em;
                display: block;
                .header{
                    width: 100%;
                    min-height: 40px;
                    position: relative;
                    border-radius: 3px;
                    border-top: 3px solid #d2d6de;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                    border-top-color: #f39c12;
                    display: block;
                    height: auto;
                    input{
                        outline: none;
                        border: none;
                        width: 50%;
                        font-family: Lato;
                        font-size: 16px;
                        line-height: 24px;
                        margin-left: 10px;
                        cursor: pointer;
                        display: inline-block;
                        height: 30px;
                        margin-top: 4px
                    }
                    .control{
                        margin-right: 10px;
                        padding-bottom: 5px;
                        float: right;
                        margin-top: 2px;
                        display: none;
                        .oval{
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            opacity: 0.7;
                            background-color: #FFFFFF;
                            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24);
                            margin-left: 10px;
                            .text{
                                font-size: 14px;
                                text-align: center;
                                padding-top: 8px;
                                color: rgba(54, 54, 54, 0.7);
                            }
                        }
                        .oval:hover{
                            background-color:#ddd;
                            cursor: pointer;
                        };
                    }
                }
                .job-members{
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    min-height: 142px;
                    li{
                        max-width: 70px;
                        max-height: 120px;
                        margin-right: 1em;
                    }
                }
            }
            .job:hover{
                input{
                    background-color: #F3F5F8;
                }
            }
        }
        .users-list{
            list-style: none;
            margin: 0;
            padding: 0;
            max-height: 500px;
            >li{
                width: 25%;
                max-width: 80px;
                max-height: 136px;
                display: inline-block;
                padding: 10px;
                text-align: center;
                cursor: pointer;
                img{
                    border-radius: 50%;
                    max-width: 100%;
                    height: auto;
                }
                .users-list-name{
                    font-weight: 600;
                    color: #444;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                a{
                    display: block;
                    text-decoration: none;
                }
                .users-list-date{
                    color: #999;
                    font-size: 12px;
                }
            }
        }
    }
}
.sticky{
    position: fixed;
    top: 0px;
}
/deep/ .ui-dialog {
    width: 350px;
    .ui-dialog-title {
        font-family: Lato;
        font-size: 16px !important;
        line-height: 24px;
        color: rgba(54,54,54,0.7);
    }
    .fa {
        -webkit-text-stroke: 1px whitesmoke;
    }
    .ui-dialog-titlebar-close {
        border: 1px solid transparent;
    }
    .ui-dialog-buttonpane {
        border: 0;
        text-align: -webkit-center;
        padding: 0 !important;
        button{
            font-family: Lato;
            font-size: 16px !important;
            line-height: 24px;
            width: 100px;
            display: inline-block;
            float: none !important;
        }
    }
    .ui-fluid .ui-inputtext {
        font-family: Lato;
        font-size: 16px !important;
        line-height: 24px;
        cursor: pointer;
    }
    .ui-grid{
        font-size: 16px !important;
        line-height: 24px;
        font-family: Lato;
        background: transparent;
        border: none;
        input{
            width: 100%;
            height: 28px;
        }
    }
}
/deep/.ui-growl-item {
    display: flex;
    font-family: Lato;
}
