<div class="table-content">
    <table>
        <tr class="table-header">
            <th>
                Task
            </th>
            <th class="right-colum">Tracked(h:m)</th>
        </tr>
        <tbody *ngIf="project && project.categories">
            <tr class="project-line"  *ngFor="let project_category of project.categories;" id="task-row-{{project_category.id}}">
                <td style="width: 60%;">
                    <div class="plus inline" (click)="tasks_user_details(project_category.id)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="column-text inline">
                        <div class="text">
                            <span>{{project_category.name}}</span>
                        </div>

                        <div class="group-user" *ngIf="project_category.members">
                            <div class="everyone" [hidden]="!(!is_show_project_categoy_details.get(project_category.id) && project_category.members.length == project.members.length)">
                                Everyone
                            </div>
                            <span [hidden]="!(project_category.members.length < project.members.length || is_show_project_categoy_details.get(project_category.id))">
                                <div class="project-user" *ngFor="let member of project_category.members; let i = index">
                                    <span [hidden]="i >= num_of_user_show.get(project_category.id)">
                                        <div *ngIf="!member.user.image" class="oval user-avatar inline tooltip">
                                            <span class="tooltiptext">{{member.user.first_name + " " + member.user.last_name}}</span>
                                        </div>
                                        <div *ngIf="member.user.image" class="oval user-avatar inline tooltip" [ngStyle]="{'background-image': 'url(' + member.user.image + ')'}">
                                            <span class="tooltiptext">{{member.user.first_name + " " + member.user.last_name}}</span>
                                        </div>
                                        <div class="user-name text inline" [hidden]="!is_show_project_categoy_details.get(project_category.id)">
                                            {{member.user.first_name + " " + member.user.last_name}}
                                        </div>
                                    </span>
                                    <div class="over-member" *ngIf="project_category.members.length > num_of_user_show.get(project_category.id) && i == num_of_user_show.get(project_category.id)">
                                        <div class="oval-2">
                                            <div class="text-2 task-over-user">
                                                +{{project_category.members.length - num_of_user_show.get(project_category.id)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>

                    </div>
                </td>
                <div class="right-colum">
                    {{project_category.tracked_time | timeFromSeconds}}
                    <div class="member-tracker tracked-details" [hidden]="!is_show_project_categoy_details.get(project_category.id)">
                        <div class="tracked-text" *ngFor="let member of project_category.members">
                            {{member.tracked_time | timeFromSeconds}}
                        </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div>
