<div class="table-content">
    <table>
        <tr class="table-header">
            <th>
                Task
            </th>
            <th class="right-colum">Tracked(h)</th>
        </tr>
        <tbody>
            <tr class="project-line" >
                <td style="width: 60%;">
                    <div class="plus inline" (click)="tasks_user_details()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="column-text inline">
                        <div class="text">
                            Design
                        </div>

                        <div class="group-user">
                            <div class="project-user">
                                <div class="oval user-avatar inline"></div>
                                <div class="user-name text inline">
                                    hoan lac thien
                                </div>
                            </div>
                            <div class="project-user">
                                <div class="oval user-avatar"></div>
                                <div class="user-name text">
                                    hoan lac thien
                                </div>
                            </div>
                            <div class="project-user">
                                <div class="oval user-avatar"></div>
                                <div class="user-name text">
                                    hoan lac thien
                                </div>
                            </div>
                            <div class="project-user">
                                <div class="oval user-avatar"></div>
                                <div class="user-name text">
                                    hoan lac thien
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <div class="right-colum"> 150 </div>
            </tr>
        </tbody>
    </table>
</div>
