@import '../project-table/project-table.component.scss';
.table-content{
    width: 100%;
    margin-top: 25px;
    table {
        margin: auto;;
        width: 100%;

        .project-line{
            cursor: auto;
        }
        .project-user{
            width: auto;;
            margin-bottom: 4%;
            height: 32px;
            float: left;
            .text{
                padding-top: 7px;
            }
            .user-name{
                display: none;
                font-weight: lighter;
            }
        }
        .text{
            text-align: left;;
            display: block;;
            padding-top: 0px;
            font-family: Lato;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            color: rgba(54, 54, 54, 0.7);
        }

        .column-text{
            .group-user{
                padding-top: 10px;
                .task-over-user{
                    text-align: center;
                    padding: 6px;
                    padding-left: 4px;
                    color: rgba(54,54,54,0.7);
                }
            }
        }
        .plus{
            cursor: pointer;
            color: rgba(70, 70, 70, 0.47);
            margin-right: 2%;
            .fa{
                font-size: small;
                -webkit-text-stroke: 1px whitesmoke;
            }
        }
        .right-colum{
            text-align: center;
            padding: 8px;
        }
        .inline{
            float: left;
        }
        .tracked-details{
            display: none;
            padding-top: -4px;
            .tracked-text{
                padding-top: 16px;
                color: rgba(54, 54, 54, 0.7);
            }
        }
    }
}
