@import '../../general-style/color-style.scss';
@import '../../general-style/font-style.scss';
.container{
    width: 80%;
    margin: auto;
    .form{
        width: 60%;
        margin: auto;
        font-size: 20px;
        line-height: 28px;
        table{
            width: 100%;
            th.label-field{
                width: 30%;
            }
            th.input-field{
                max-width: 99%;
            }
            tr td {
                input[type='text']{
                    width: 100%;
                    font-size: 20px;
                    line-height: 28px;
                    border: none;
                    box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
                }
            }
        }
        button{
            float: right;
            height: 40px;
            width: 136px;
            border-radius: 3px;
            box-shadow: none;
            border: solid black 1px;
            background: white;
            font-size: 16px;
            &:hover{
                cursor: pointer;
            }
            &[type="submit"]{
                color: white;
                background: $blueColor;
                margin-right: 10px;
                border: solid $blueColor 1px;
            }
        }
    }
}