<div class="container">
<form class="form">
  <table>
    <tr>
      <th class="label-field"></th>
      <th class="input-field"></th>
    </tr>
    <tr>
      <td><label>Company name:</label></td>
      <td><input type="text" [(ngModel)]="name" name="name" [placeholder]="name"></td>
    </tr>
    <tr>
      <td><label>Company Domain:</label></td>
      <td><input type="text" [(ngModel)]="domain" name="domain" [placeholder]="domain" readonly></td>
    </tr>
    <tr>
      <td><label>Begin week:</label></td>
      <td><input type="text" [(ngModel)]="beginWeek" name="begin-week" [placeholder]="beginWeek" readonly></td>
    </tr>
    <tr>
      <td><label>Begin week:</label></td>
      <td>
        <input type="radio" name="day" (change)="checkFunc($event)" value="0" [checked]="beginWeek===0">Sunday
        <input type="radio" name="day" (change)="checkFunc($event)" value="1" [checked]="beginWeek===1">Monday
      </td>
    </tr>
  </table>
  <br/>
  <button (click)="cancel()" type="button">Cancel</button>
  <button (click)="submitEditCompany()" type="submit">Save</button>
</form>
<p-growl [value]="msgs"></p-growl>
</div>
