<div class="show-types">
    <div class="show-type">
        <label for="show">Show</label>
        <div class="dropdown inline">
            <select class="form-control" [(ngModel)]="show_selected" name="select_show" (change)="selectShow()">
                <option selected [value]="0">All Hours</option>
                <option *ngFor="let show of show_types; let i = index" [value]="i+1">{{show | capitalize}}</option>
            </select>
        </div>
    </div>

    <div class="show-type">
        <label for="show">Group by</label>
        <div class="dropdown inline">
            <select class="form-control" [(ngModel)]="group_by_selected" name="select_group" (change)="selectGroup()">
                <option selected [value]="0">Project</option>
                <option *ngFor="let group of group_by_types; let i = index" [value]="i+1">{{group | capitalize}}</option>
            </select>
        </div>
    </div>

    <div class="search-view">
        <input class="search-text" type="text" [(ngModel)]="searchPattern" (keyup)="search()" placeholder="Search people..."/>
        <span class="fa fa-search"></span>
    </div>
</div>

<div class="table-view">
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Project(Clients)</th>
            <th>Person</th>
            <th>Time</th>
            <th></th>
        </tr>
    </table>

    <div class="details" *ngFor="let item of view_selecteds">
        <span *ngFor="let project of _projects">
            <span *ngIf="isConstraintItem(project.id, item.id)">
                <div class="theme">
                    <span *ngIf="group_by_selected != 3">{{item.name || (item.user.first_name + ' '+ item.user.last_name) | capitalize}}</span>
                    <span *ngIf="group_by_selected == 3">{{item.name | date: 'dd/MM/y' }}</span>
                    <span class="right">{{itemTrackedTime(project.id, item.id) | timeFromSeconds }}h</span>
                </div>

                <table >
                    <tr *ngFor="let timer of timersShow(project.id, item.id)">
                        <td class="date">{{timer.start_time | date: 'EEE dd/MM/y' }}</td>
                        <td class="description">{{timer.task.name | capitalize}}</td>
                        <td class="project-client">{{project.name | capitalize}} ({{ project.client.name | capitalize }})</td>
                        <td class="person">
                            <span>$</span>
                            {{getMemberInProject(project , timer.category_member.member_id) | capitalize}}
                        </td>
                        <td class="timer">
                            <div class="inline">{{ timer.start_time | date: 'hh:mm a' }}</div>
                            <i class="fa fa-long-arrow-right inline" aria-hidden="true"></i>
                            <div class="inline">{{ timer.stop_time | date: 'hh:mm a'}}</div>
                        </td>
                        <td class="hour">{{ timer.tracked_time | timeFromSeconds }}h</td>
                    </tr>
                </table>
            </span>
        </span>
    </div>
</div>
