<div class="content">
    <table>
        <tr>
            <th class="search-icon">
                <span class="fa fa-search imgspan"></span>
            </th>
            <th class="member">
                <input class="search-text" type="text" [(ngModel)]="searchPattern" (keyup)="search()" placeholder="Search people's name"/>
            </th>
            <th *ngFor="let day of days">
                <div class="day-column">
                    <label class="day-string" for="">{{day | date: 'EEE' }}</label>
                    <label for="">{{day | date: 'dd'}}</label>
                </div>
            </th>
        </tr>

        <tbody >
            <tr *ngFor="let member of list_members">
                <td class="member checkeds" >
                    <div class="check-box">
                        <p-checkbox name="groupname" value="{{member.id}}" [(ngModel)]="selectedValues" (click)="checked()"></p-checkbox>
                    </div>
                </td>
                <td class="member multi-line">
                    <div class="avatar" *ngIf="!member.user || !member.user.image"></div>
                    <div class="avatar" *ngIf="member.user && member.user.image" [ngStyle]="{'background-image': 'url('+member.user.image+')'}" ></div>
                    <div class="inform">
                        <div class="name-status">
                            <div class="name"><span *ngIf="member.user">{{(member.user.first_name + ' '+ member.user.last_name) | capitalize}}</span></div>
                            <div [ngClass]="['status', getmemberStatus(member.id)]" class="status">
                                {{getmemberStatus(member.id)}}
                            </div>
                        </div>
                        <div class="member-type"><span *ngFor="let job of member.jobs">{{job.name | capitalize}}</span></div>
                    </div>
                </td>
                <td *ngFor="let day of days.slice(0, days.length -1)" [class]="hash_member_day_status.get(member.id + '-' + day.getDate())">
                    <button *ngIf="ableToShowModify(member.id + '-' + day.getDate())" (click)="pppp.toggle($event); initDialog(member.id, day)"></button>
                </td>
                <td>
                    <div *ngIf="member.future_dayoff > 0" class="last-cel">
                        <div class="triangle"></div>
                        <div class="triangle-text" (click)="goToFutureDayOff(member.nearest_future_dateoff)">{{member.future_dayoff}}</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="calendar-note">
        <div class="cel-approved thumble inline"></div>
        <label for="Time Off">Time Off</label>

        <div class="cel-pending thumble inline"></div>
        <label for="Pending">Pending</label>

        <div class="cel-holiday thumble inline"></div>
        <label for="Holiday">Holiday</label>
    </div>

    <div class="messages">
        <div class="content">
            <label for="">{{selectedValues.length}} people were selected</label>
            <div class="action">
                <button class="show-selected" type="button" (click)="showSelected()">Show selected</button>
                <button class="cancel" type="button" (click)="hidenMessage()"  >Cancel</button>
            </div>
            <button class="clear" type="button" name="button" (click)="hidenMessage()">Clear</button>
        </div>
    </div>

    <p-overlayPanel #pppp>
        <div class="form-container">
            <div class="header-status">
                <div class="cel-{{dialog_timeoff.status}} thumble inline"></div>
                <p>Vacation: {{dialog_timeoff.status}}</p>
            </div>

            <div class="days">
                <i class="fa fa-clock-o fa-lg thumble" aria-hidden="true"></i>
                <div class="content">
                    <div class="details">
                        <div class="details-day">{{ (dialog_timeoff.start_date | date: 'MMM  dd') + '     '+ (dialog_timeoff.is_start_half_day? '(Half day)':'(All day)') }}</div>
                        <i class="fa fa-long-arrow-right details-arrow" aria-hidden="true"></i>
                        <div class="details-day">{{ (dialog_timeoff.end_date | date: 'MMM  dd') + '     '+ (dialog_timeoff.is_end_half_day? '(Half day)':'(All day)') }}</div>
                    </div>
                    <div class="day-left">
                        Day left {{ dialog_timeoff.status == 'pending'? 'before':'after' }} request: <strong>{{dialog_personNumTimeOff.total - dialog_personNumTimeOff.offed}}</strong>
                    </div>
                </div>
            </div>

            <div class="description">
                <i class="fa fa-align-left fa-lg thumble" aria-hidden="true"></i>
                <div class="content">
                    <label for="">{{dialog_timeoff.description? dialog_timeoff.description.slice(0, 170) +'…' : ''}}</label>
                    <div class="request-from">Requested {{dialog_timeoff.created_at | amTimeAgo}}</div>
                </div>
            </div>

            <form (ngSubmit)="answerTimeoff(); pppp.hide($event, actualTarget)">
                <div class="form-group">
                    <textarea  name="answer" placeholder="Your response…" [(ngModel)]="timeOffPut.answer_timeoff_request.approver_messages" required ></textarea>
                </div>
                <div class="control">
                    <div [hidden]="!is_ableToAnswer" class="answer">
                        <div class="buttons">
                            <button class="approve" type="button" (click)="showDialogContent('Approve')"> Approve </button>
                            <button class="reject" type="button" (click)="showDialogContent('Reject')"> Reject </button>
                            <button class="cancel" type="button" (click)="pppp.hide($event, actualTarget)"> Cancel </button>
                        </div>

                        <div class="drop-down">
                            <select class="form-control" [(ngModel)]="dropdown_selected" name="answer_timeoff_dropdown" (change)="answerTimeoff(); pppp.hide($event, actualTarget);">
                                <option [value]="0" selected="selected">Approve</option>
                                <option [value]="1" *ngIf='is_ableToAnswer'>Reject</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="is_ableToModify" class="modify">
                        <div class="oval" (click)="delete(); pppp.hide($event, actualTarget);">
                            <div class="text">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="oval" (click)="edit(); pppp.hide($event, actualTarget);">
                            <div class="text">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </p-overlayPanel>
    <p-growl [value]="msgs"></p-growl>
</div>
