@import '../../general-style/color-style.scss';
@import '../../general-style/font-style.scss';
tr{
    width: 100%;
    &:hover{
        cursor: pointer;
        background: #F6F7FD;
    }
    td{
        font-family: $headerFont;
        font-size: 14px;
        line-height: 17px;
        color: $colorHeader;
        &.task-name{
            padding-left: 4%;
            width: 40%;
        }
        &.pro-cat{
            width: 55%;
            .dot{
                display: inline-block;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                margin-right: 4%;
            }
        }
        &.play-btn{
            .show{
                .ui-button{
                background: transparent;
                border-radius: 50px;
                color: $fontWhiteBorder;
                font-size: 20px;
                border: none;
                }
            }
            .hide{
                visibility: hidden;
                .ui-button{
                background: transparent;
                border-radius: 50px;
                color: $fontWhiteBorder;
                font-size: 20px;
                border: none;
                }
            }
        }
    }
}
