<app-member-menu-bar [currentState]="2"></app-member-menu-bar>
<div class="timeoff-manage">
    <div class="timeoff-manage-header">
        <p>Time Off</p>
        <button class="button-create" (click)="createTimeOff()" type="button">Request time off</button>
    </div>
    <div *ngIf="userObj && (userObj.role.name == ('Admin' || 'PM'))">
        <p-tabView>
            <p-tabPanel header="Your request">
                <div class="timeoff-manage-content">
                    <app-timeoff-list-request [timeoffs]="list_timeoff.off_requests" (reload)="getTimeOffsPending()"></app-timeoff-list-request>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Pending">
                <div class="timeoff-manage-content">
                    <h2>Pending request ({{list_timeoff.pending_requests.length}})</h2>
                    <app-timeoff-pending-requests [timeoffs]="list_timeoff.pending_requests" (reload)="getTimeOffsPending()"></app-timeoff-pending-requests>
                </div>

                <div class="timeoff-calendar">
                    
                </div>

                <div class="timeoff-pass-requests">
                    <a href="/#/pass-timeoffs">Show pass Timeoffs</a>
                </div>
            </p-tabPanel>
        </p-tabView>

    </div>

    <div *ngIf="userObj && !(userObj.role.name == ('Admin' || 'PM'))" class="timeoff-manage-content">
        <app-timeoff-list-request [timeoffs]="list_timeoff.off_requests" (reload)="getTimeOffsPending()"></app-timeoff-list-request>
    </div>
</div>
