<app-member-menu-bar [currentState]="2"></app-member-menu-bar>
<div class="timeoff-manage">
    <div class="timeoff-manage-header">
        <p>Time Off</p>
        <button class="button-create" (click)="createTimeOff()" type="button">Request time off</button>
    </div>
    <div *ngIf="userObj && (userObj.role.name == ('Admin' || 'PM'))">
        <p-tabView>
            <p-tabPanel header="Your request">
                <div class="timeoff-manage-content">
                    <app-timeoff-list-request [timeoffs]="list_timeoff.off_requests"></app-timeoff-list-request>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Pending">
                <div class="timeoff-manage-content">
                    <app-timeoff-pending-requests [timeoffs]="list_timeoff.pending_requests" (reload)="getTimeOffsPending()"></app-timeoff-pending-requests>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>

    <div *ngIf="userObj && !(userObj.role.name == ('Admin' || 'PM'))" class="timeoff-manage-content">
        <app-timeoff-list-request [timeoffs]="list_timeoff.off_requests"></app-timeoff-list-request>
    </div>
</div>
