.timeoff-manage{
    background-color: white;
    width: 80%;
    margin: auto;
    .timeoff-manage-header{
        margin-top: 20px;
        p{
            width: 175px;
            height: 48px;
            font-family: Montserrat;
            font-size: 40px;
            font-weight: bold;
            line-height: 48px;
            color: #363636;
            display: inline-block;
            margin-top: 5%;
        }
        button{
            width: 167px;
            height: 40px;
            background-color: #0066CC;
            border-radius: 3px;
            &.button-create{
                font-family: Lato;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
                color: #FFFFFF;
                float: right;
                margin-top: 5%;
                cursor: pointer;;
            }
        }
    }
    .timeoff-calendar{
        margin-top: 30px;
    }

    .timeoff-pass-requests {
        margin-top: 50px;
        a{
            font-family: Lato;
            font-size: 16px;
            line-height: 24px;
            color: #0066CC;
            padding-bottom: 50px;
        }
    }

    /deep/.ui-tabview  {
        :not(.ui-ribbon).ui-tabview-nav{
            height: 48px;
            background-color: #FFFFFF;
            box-shadow: inset 0 -2px 0 0 #EEEEEE;
        }
        .ui-tabview-panel {
            padding: 0px;
        }
        .ui-tabview-nav > li.ui-state-default{
            font-family: Lato;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            border: 0px;
            background: white;
            padding-left: 0px;
            a:link{
                color: rgba(54,54,54,0.3);
            }
        }
        .ui-tabview-nav > li.ui-state-default.ui-state-active{
            border-bottom: solid 3px #0066CC;
            a:link{
                color: #363636;
            }
        }
    }
}
