<app-marketing-menu-bar typePage=0></app-marketing-menu-bar>
<div class="container form-container">
  <h2>Sign Up</h2>
  <hr/>
  <form>
    <div class="form-group">
      <label for="name">Name: </label><br/>
      <input pInputText type="text" class="form-control" id="name" [(ngModel)]="user.name" required name="name">
    </div>
    <br/>
    <div class="form-group">
      <label for="email">Email: </label><br/>
      <input pInputText type="text" class="form-control" id="email" [(ngModel)]="user.email" required name="email">
    </div>
    <br/>
    <div class="form-group">
      <label for="password">Password: </label><br/>
      <input pInputText type="password" class="form-control" id="password" [(ngModel)]="user.password" required name="password">
    </div>
    <br/>
    <div class="form-group">
      <label for="email">Confirm Password: </label><br/>
      <input pInputText type="password" class="form-control" id="confirmPassword" [(ngModel)]="user.password_confirmation" required name="password_confirmation">
    </div>
    <br/>
    <button pButton type="button" label="Cancel" (click)="log()" icon="fa-ban"></button>
    <button id="submit" pButton type="button" label="Submit" (click)="submit()" icon="fa-check"></button>
  </form>
</div>