@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
$bckColor: #DDEEDD;
$mainColor: #212345;

.image{
    float: left;
    width: 55%;
    height: 100vh;
    background-image: url(/assets/image-screen/img-signup.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    img{
        width: 48px;
        height: 26px;
        margin-top: 40px;
        margin-left: 40px;
    }
}

.form-container {
    float: right;
    width: 40%;
    height: 100%;
    border: solid 0px black;
    border-radius: 5px;
    padding: 40px;
    position:relative;
    top: 20px;
    margin-right: 3%;
    background-color: white;
    font-family: Lato;
    padding: 0;
    h2{
        color: $colorHeader;
        margin: 0;
    };
    h4{
        color: $colorHeader;
        margin: 0;
    }
    p{
        font-family: $headerFont;
        &.asking{
            margin: 0;
            margin-right: 2%;
            font-size: 16px;
            line-height: 24px;
            color: $lightGrey;
        }
        &.des{
            font-size: 16px;
            line-height: 24px;
            color: $lightGrey;
            margin: 0;
        }
    }
    .form-group{
        input{
            width: 99%;
        }
    }
    .asking{
    display:inline-block;
    float:right;
    margin-right: 5%;
    }
    button{
        &:hover{
            cursor: pointer;
        }
        background-color: rgba(0,102,204,0);
        border: 1px solid rgba(54,54,54,0.3);
        border-radius: 3px;
        font-family: $headerFont;
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        color: $lightGrey;
        &.sign-up-btn{
            width: 100%;
            height: 48px;
            background-color: $blueColor;
            border-radius: 3px;
            color: white;
        }
    }
    /deep/ .ui-inputtext{
        border: solid 0 white;
        box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
        font-family: $headerFont;
        font-size: 16px;
        line-height: 24px;
    }
    .claim{
        text-align: center;
        p{
            padding: 0;
            margin: 0;
            font-size: 14px;
            line-height: 20px;
            color: rgba(54,54,54,0.7);
        }
        a{
            padding: 0;
            margin: 0;
            font-size: 14px;
            line-height: 20px;
            color: rgba(54,54,54,0.7);
        }
    }
}