<app-marketing-menu-bar typePage=0></app-marketing-menu-bar>
<div class="image">
  <img src="assets/image-screen/element_logo_icon-white@2x.png">
</div>
<div *ngIf="!submitted" class="container form-container">
  <button (click)="signIn()" class="asking" type="button">Sign In</button>
  <p class="asking">Already have an account?</p>
  <br><br><br><br><br><br>
  <h2>Get started absolutely free.</h2>
  <p class="des">Free forever. No credit card needed.</p>
  <h4 *ngIf="companyName !== ''">Welcome to company <i>{{companyName}}</i>!</h4>
  <br><br><br>  
  <form (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Name: </label><br/>
      <input pInputText type="text" class="form-control" id="name" [(ngModel)]="user.name"
      placeholder="Julie Morin" required name="name">
    </div>
    <br/>
    <div class="form-group">
      <label for="email">Email: </label><br/>
      <input pInputText type="text" class="form-control" id="email" [(ngModel)]="user.email"
      placeholder="julie@example.com" required name="email">
    </div>
    <br/>
    <div class="form-group">
      <label for="password">Password: </label><br/>
      <input pInputText type="password" class="form-control" id="password" [(ngModel)]="user.password"
      placeholder="6+ characters" required name="password">
    </div>
    <div *ngIf="!isInvited" class="form-group">
      <br/>
      <label for="password">Company Domain: </label><br/>
      <input pInputText type="text" class="form-control" id="company" [(ngModel)]="user.company_domain"
      placeholder="Company-Example" required name="company">
    </div>
    <br/><br/>
    <!--
    <div class="form-group">
      <label for="email">Confirm Password: </label><br/>
      <input pInputText type="password" class="form-control" id="confirmPassword" [(ngModel)]="user.password_confirmation" required name="password_confirmation">
    </div>
    <br/>
    <button pButton type="button" label="Cancel" (click)="log()" icon="fa-ban"></button>
    -->
    <button class="sign-up-btn" id="submit" pButton type="submit" label="Sign Up Free"></button>
  </form>
</div>
<div *ngIf="submitted" class="container form-container">
  <h2>Please verify your email !</h2>
  <p> An email has been sent to the the email <strong><i>{{user.email}}</i></strong>.
   Please check your inbox and follow the instruction to finsish your registration</p>
</div>