$bckColor: #DDEEDD;
$mainColor: #212345;

.form-container {
    width: 50%;
    border: solid 0px black;
    border-radius: 5px;
    padding: 40px;
    position:relative;
    top: 20px;
    margin: auto;
    background-color: $bckColor;
    font-family: Lato;
    h2{
        color: $mainColor;
    };
    p{
        font-family: montserrat;
    }
    .form-group{
        input{
            width: 99%;
        }
    }
    button{
        float: right;
        margin-top: 0px;
        background-color: $mainColor;
        border: solid 0px white;
        &#submit{
          margin-right: 5px;  
        }
    }
}