@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
.tracker-container{
    height: 100px;
    width: 98%;
    box-shadow: 0px 4px 20px #E9EAEE;
    position:relative;
    z-index:1;
    background: white;
    padding-left: 2%;
    .dot-color{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 8%;
    }
    .ui-inputtext{
        margin-top: 36px;
        margin-left: 1%;
        outline: none;
        border: solid 0px white;
        border-radius: 0%;
        &#desc{
            width: 30%;
        }
        &#task{
            width: 20%;
        }
    }
    .time-picker{
        font-size: 16px;
        font-family: Lato;
        margin-left: 5%;
        color: $fontWhiteBorder;
        border: none;
        width: 9%;
        &:focus{
            background: #ABDCFF;
            background-size: 70%;
        }
        
    }
    .time-display{
        font-size: 20px;
        font-family: Lato;
        margin-left: 2%;
        font-weight: bold;
        color: #212345;
    }
    button{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left: 5%;
        position: relative;
        top: 12px;
        &.stop-btn{
            background-color: #EE593A;
            border: solid 3px #EE593A;
            background-position-x: -3px;
            background-position-y: -3px;
            background-image: url(assets/images-buttons/stop-btn.png);
        }
        &.play-btn{
            background-color: #0098F0;
            border: solid 3px #0098F0;
            background-position-x: -4px;
            background-position-y: -3px;
            background-image: url(assets/images-buttons/play-btn.png);
        }
    }
}
.dropdown{
    background: white;
    box-shadow: 0px 2px 4px $whiteBorder;
    position: absolute;
    z-index: 2;
    &.div-des{
        max-height: 300px;
        overflow-y: auto;
        margin-left: 3%;
        width: 30%;
    }

    &.div-task{
        max-height: 425px;
        overflow-y: auto;
        margin-left: 42%;
        width: 25%;
    }
    &.div-time{
        height: 265px;
        margin-left: 66%;
        width: 15%;
        background-color: #2548CE;
        color: white;
        z-index: 2;
        &:after{
            z-index: 2;
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent #2548CE transparent;
        }
        table{
            width: 100%;
            font-family: $headerFont;
            text-align: left;
            font-size: 14px;
            th{
                padding-left: 4%;
                padding-top: 4%;
                font-weight: normal;
            }
            td{
                padding-left: 4%;
                padding-top: 2%;
                padding-bottom: 2%;
                &:hover{
                    background: gray;
                    cursor: pointer;
                }
            }
        }
    }
}
.hidden{
    display: none;
}