.TrackerContainer{
    height: 100px;
    width: 100%;
    box-shadow: 0px 4px 2px -2px #808080;
    background: white;
    .ui-inputtext{
        margin-top: 3%;
        margin-left: 1%;
        outline: none;
        border: solid 0px white;
        border-bottom: solid 0.5px #808080;
        &#desc{
            width: 400px;
        }
        &#task{
            margin-left: 15%;
            width: 200px;
        }
    }
    .TimePicker{
        font-size: 16px;
        font-family: Lato;
        margin-left: 5%;
    }
    .TimeDisplay{
        font-size: 20px;
        font-family: Lato;
        margin-left: 2%;
        font-weight: bold;
        color: #212345;
    }
    button{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left: 4%;
        position: relative;
        top: 10px;
        &.stopBtn{
            background-color: #EE593A;
            border: solid 3px #EE593A;
            background-position-x: -2px;
            background-position-y: -2px;
            background-image: url(assets/images-buttons/stop-btn.png);
        }
        &.playBtn{
            background-color: #0098F0;
            border: solid 3px #0098F0;
            background-position-x: -4px;
            background-position-y: -3px;
            background-image: url(assets/images-buttons/play-btn.png);
        }
    }
}