@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
.tracker-container{
    height: 100px;
    width: 100%;
    box-shadow: 0px 2px 2px 1px #E9EAEE;
    position:relative;
    z-index:1;
    background: white;
    .ui-inputtext{
        margin-top: 3%;
        margin-left: 1%;
        outline: none;
        border: solid 0px white;
        border-radius: 0%;
        border-bottom: solid 0.5px #808080;
        &#desc{
            width: 30%;
        }
        &#task{
            margin-left: 10%;
            width: 20%;
        }
    }
    .time-picker{
        font-size: 16px;
        font-family: Lato;
        margin-left: 6%;
        color: $fontWhiteBorder;
        border: none;
        
    }
    .time-display{
        font-size: 20px;
        font-family: Lato;
        margin-left: 4%;
        font-weight: bold;
        color: #212345;
    }
    button{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left: 6%;
        position: relative;
        top: 10%;
        &.stop-btn{
            background-color: #EE593A;
            border: solid 3px #EE593A;
            background-position-x: -3px;
            background-position-y: -3px;
            background-image: url(assets/images-buttons/stop-btn.png);
        }
        &.play-btn{
            background-color: #0098F0;
            border: solid 3px #0098F0;
            background-position-x: -4px;
            background-position-y: -3px;
            background-image: url(assets/images-buttons/play-btn.png);
        }
    }
}
.dropdown{
    background: white;
    box-shadow: 0px 2px 4px $whiteBorder;
    position: absolute;
    z-index: 1;

    &.div-des{
        height: 300px;
        margin-left: 1%;
        width: 30%;
    }

    &.div-task{
        height: 300px;
        margin-left: 47%;
        width: 15%;
    }
}
.hidden{
    display: none;
}