<div class="tracker-container"> 
  <input id="desc" (focus)="onFocus(0)" (blur)="onBlur(0)" type="text" pInputText placeholder="Description..." />
  <input id="task" (focus)="onFocus(1)" (blur)="onBlur(1)" type="text" pInputText placeholder="Task..." />
  <input class="time-picker" type="time" [value]="startTime" />
  <label class="time-display">{{timeCount}}</label>
  <button type="button" class="{{classBtn}}" (click)="changeClass()"></button>
</div>
<div [class]="classDrop[0]">
</div>
<div [class]="classDrop[1]">
</div>
<p>{{startResult}}</p>
<p>{{stopResult}}</p>
