<div class=container>
<div class="search-report">
  <table class="search-fields">
    <tr>
      <th class="when">
        <div class="in-th when">
          <p class="title-field">When</p><br/>
          <p (click)="changeClassDiv(0)" class="value-field">{{firstString | dateToStringWeekDay}} <span class="fa fa-long-arrow-right"></span> {{lastString | dateToStringWeekDay}}</p>
          <span class="fa fa-angle-down down-img calendar" (click)="changeClassDiv(0)"></span>
        </div>
      </th>
      <th class="what">
        <div class="in-th what">
          <p class="title-field">What</p><br/>
          <input #projectName type=text class="text-field" (focus)="showClassDiv(1)" (blur)="hideClassDiv(1)"
          (keyup)="keyUpProjectSearch()" name="project" [(ngModel)]="project" placeholder="Project...">
          <span class="fa fa-angle-down down-img" (click)="projectName.focus()"></span>
        </div>
      </th>
      <th class="who">
        <div class="in-th who">
          <p class="title-field">Who</p>            
          <button (click)="runReport()" class="run-btn" type="button"><p>Run report</p></button><br/>
          <input #memberName type=text class="text-field" (focus)="showClassDiv(2)" (blur)="hideClassDiv(2)"
          (keyup)="keyUpMemberSearch()" name="member" [(ngModel)]="member" placeholder="Team member...">
          <span class="fa fa-angle-down down-img" (click)="memberName.focus()"></span>
        </div>
      </th>
    </tr>
  </table>
</div>

<div [class]="classDiv[0]">
  <p-calendar class="class-calendar" (onSelect)="selectDate(0,$event)"  [inline]="true"></p-calendar>
  <p-calendar class="class-calendar" (onSelect)="selectDate(1,$event)"  [inline]="true"></p-calendar>
  <div class="options">
    <table class="options">
      <tr *ngFor="let option of options; let row = index">
        <td (click)="chooseRange(row, col)" *ngFor="let str of option; let col = index">
          <div class="option">{{str}}</div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div [class]="classDiv[1]">
  <ul class="projects">
    <li (mousedown)="setProject(project.id, project.name, project.client.name)" *ngFor="let project of projectListsSearch">{{project.name}} ({{project.client.name}})</li>
  </ul>
</div>

<div [class]="classDiv[2]">
  <ul class="members">
    <li (mousedown)="setMember(member.id, member.user.first_name, member.user.last_name)" *ngFor="let member of membersSearch">{{member.user.first_name}} {{member.user.last_name}}</li>
  </ul>
</div>
</div>