@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
.container{
    position: relative;
h1{
    margin: 0;
    padding: 0;
    width: 161px;
    height: 48px;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    color: #363636;
}
h4{
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: $colorHeader;
    margin: 0;
}
// -------------------------------------------------------- Search Report--------------------------------------------    
.search-report{
    font-family: $headerFont;
    font-weight: bold;
    color: $colorHeader;
    width: 100%;
    height: 72px;
    margin-top: 32px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.17);
    border: 1px solid #DDE1E5;
    border-radius: 3px;
    table.search-fields{
        table-layout:fixed;
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        border-spacing: none;
        tr{ 
            th{
                max-width: 100%;
                height: 100%;
                &.when{
                    width: 33%;
                }
                &.what{
                    width: 28%
                }
                &.who{
                    max-width: 99%;
                }
                .in-th{
                    width: 100%;
                    height: 100%;
                    text-align: left;
                    box-shadow: inset -1px 0 0 0 #DDE1E5;
                    padding-top: 12px;
                    position: relative;
                    p{
                        padding: 0;
                        margin: 0;
                        margin-left: 24px;
                        font-weight: normal;
                        display: inline-block;
                        &.title-field{
                            width: 38px;
                            height: 17px;
                            font-size: 14px;
                            line-height: 17px;
                            color: #363636;
                        }
                        &.value-field{
                            margin-top: 10px;
                            font-size: 14px;
                            line-height: 16px;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                    .down-img{
                        position: absolute;
                        right: 18px;
                        bottom: 6px;
                        color: $fontWhiteBorder;
                        font-size: 24px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    input.text-field{
                        margin-left: 24px;
                        margin-top: 10px;
                        font-size: 18px;
                        line-height: 22px;
                        border: none;
                    }
                    &.when{

                    }
                    &.what{

                    }
                    &.who{
                        box-shadow: none;
                        button.run-btn{
                            float: right;
                            width: 119px;
                            height: 48px;
                            margin-right: 24px;
                            background-color: #0066CC;
                            border-radius: 3px;
                            border: none;
                            text-align: center;
                            p{
                                width: 77px;
                                height: 24px;
                                font-size: 16px;
                                line-height: 24px;
                                color: #FFFFFF;
                                margin: auto;
                            }
                        }
                        .down-img{
                            right: 161px;
                        }
                    }
                }
            }
        }
    }
}
// -------------------------------------------------------- End Report Search --------------------------------------------------------
// -------------------------------------------------------- Choose time --------------------------------------------------------------
.choose-time{
    &.hide{
        display: none;
    }
    position: absolute;
    z-index: 1;
    top: 71px;;
    width: 604px;
    height: 400px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #DDE1E5, 0 5px 12px 0 rgba(0,0,0,0.12);
    .options{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 106px;
        box-shadow: inset 0 1px 0 0 #EEEEEE;
        table.options{
            table-layout:fixed;
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            border-spacing: none;
            tr{
                td{
                    text-align: center;
                    padding-left: 28px;
                    .option{
                        font-size: 14px;
                        line-height: 18px;
                        color: #363636;
                        font-weight: normal;

                        padding-top: 8px;
                        width: 90px;
                        height: 24px;
                        background-color: #EEEEEE;
                        border-radius: 100px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    /deep/.ui-calendar{
        margin-top: 21px;
        margin-left: 20px;
        float: left;
        .ui-datepicker{
            border: none !important;
            .ui-datepicker-header{
                background: transparent;
                border: none !important;
                font-size: 16px;
                line-height: 24px;
                color: rgba(54,54,54,0.7);
                .ui-datepicker-month{
                    color: #363636;
                }
                .ui-datepicker-year{
                    font-weight: normal;
                }
                .ui-datepicker-prev,.ui-datepicker-next{
                    border-radius: 50%;
                    border: 1px solid rgba(54,54,54,0.3);
                    width: 24px;
                    height: 24px;
                }
            }
            .ui-datepicker-calendar{
                thead{
                    th {
                        background: transparent;
                        font-size: 12px;
                        text-align: center;
                        line-height: 15px;
                        color: rgba(54,54,54,0.7);
                        font-weight: normal;
                    }
                }
                tbody{
                    td{
                        font-size: 12px;
                        a {
                            font-weight: bold !important;
                        }
                        border: 1px solid rgba(54,54,54,0.1);
                    }
                }
                .ui-state-highlight{
                    background: transparent !important;
                    color: $blueColor;
                }
                .ui-state-active{
                    background: $blueColor !important;
                    color: white;
                }
            }
        }
    }
}
//----------------------------------------------End choose Time ------------------------------------------------
//-------------------------------------------------Choose Projects - Members----------------------------------------------
.choose-project,.choose-member{
    &.hide{
        display: none;
    }
    position: absolute;
    z-index: 1;
    top: 71px;;
    width: 285px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 300px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #DDE1E5, 0 5px 12px 0 rgba(0,0,0,0.12);
    margin-left: 33%;
    ul.projects{
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 16px;
        font-size: 16px;
        line-height: 24px;
        color: #363636;
        font-weight: normal;
        li{
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 32px;
            &:hover{
                cursor: pointer;
                background: #F6F8FD;
            }
        }
    }
}
.choose-member{
    margin-left: 61%;
    width: 260px;
    max-height: 340px;
    ul.members{
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 16px;
        font-size: 16px;
        line-height: 24px;
        color: #363636;
        font-weight: normal;
        li{
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 32px;
            &:hover{
                cursor: pointer;
                background: #F6F8FD;
            }
        }
    }
}
}