<!--<app-marketing-menu-bar typePage=1></app-marketing-menu-bar>-->
<div class="image">
  <img src="assets/image-screen/element_logo_icon-white@2x.png">
</div>
<div *ngIf="!isSubmitted" class="container form-container">
  <div class="ask">
    <button (click)="signUp()">Get Started</button>
    <p>Don't have an account ?</p>
  </div>
  <br/><br/><br/><br/><br/><br/>
  <h2>Forgot your password ?</h2>
  <h3>Enter your email below to recover</h3>
  <br/><br/>
  <form (ngSubmit)="forgotPassword()">
    <div class="form-group">
      <label for="email">Email: </label><br/>
      <input pInputText type="text" class="form-control" [(ngModel)]="email" id="email" name="email" placeholder="julie@example.com" required>
    </div>
    <br/>
    <button pButton class="sign-in-btn" type="submit" label="Recover Password"></button>
  </form>
</div>
<div *ngIf="isSubmitted" class="container form-container">
  <h2>Please check your email !</h2>
  <p> An email which contains a special link has been sent to the the email <strong><i>{{email}}</i></strong>.
   Please check your inbox and follow the instruction to reset your password</p>
</div>

<p-growl [value]="msgs"></p-growl>

