<div (mousedown)="detailDateLog.showEvent($event)">
<app-member-menu-bar [currentState]="0"></app-member-menu-bar>
<app-time-track-bar [currentCategory]="currentCategory" [projectJoins]="projectJoins" #timeTrackBar
(outCategory)="selectCategory($event)" [recentTasks]="recentTasks" (addedTimer)="detailDateLog.addTimer($event); getRecentTask(10)"></app-time-track-bar>
<div class="below">
    <app-project-field-list (outCategory)="selectCategory($event)" (outProjectJoins)="getProjectJoins($event)"
    [currentCategory]="currentCategory"></app-project-field-list>
    <app-date-log (outDates)="getDates($event)" (outSpecificDate)="detailDateLog.setDate($event)">
    </app-date-log>
    <br/>
</div>
<div class="beneath">
    <app-detail-date-log #detailDateLog [weekAnchor]="weekAnchor" (emitStart)="timeTrackBar.getTimerFetchStart($event)" (emitEdit)="getRecentTask(10)"
    [projectJoins]="projectJoins" [recentTasks]="recentTasks" #detailDateLog></app-detail-date-log>
</div>
<div class="end-page">
</div>
</div>
