@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss'; 
.hidden{
    display:none;
}
button.rem-btn{
    color: $fontWhiteBorder ;
    background-color: transparent ;
    width: auto;
    height: auto;
    margin-right: 0 ;
    border: none ;
    outline: none;

}
.add-btn
{
    border: solid 0px white;
    background: $whiteBorder;
    width: 25%;
    height: 32px;
    border-radius: 50px;
    color: $fontWhiteBorder;
    font-size: 16px;
    text-align: center;
    margin-left: 0%;
}
ul{
    padding: 0;
}
.content{
    background: $whiteBorder;
    color: $fontWhiteBorder;
    border-radius: 50px;
    padding-right: 10px;
    p{
        padding: 0;
        margin: 0;
        margin-left: -5%;
        display: inline-block;
    }
}
.member-to-add{
    width: 300px;
    height: auto;
    background: white;
    position: absolute;
    z-index: 1;
    margin-left: -8%;
    box-shadow: 0px 1px 1px rgba(54,54,54,0.3);
    &::after{
        content: "  ";
        height: 24px;
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
    ul{
        width: 100%;
        display: table;
        text-align: center;
        font-weight: normal;
        padding: 0;
        margin: 0;
        li{
            width: 100%;
            display:block;
            &:hover{
                background-color: $blueColor;
                color: white;
                cursor: pointer;
            }
        }
    }
    table{
        width: 100%;
        text-align: left;
        font-weight: normal;
        border-spacing: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        tr{
            width: 100%;
            &:hover{
                background-color: $blueColor;
                color: white;
                cursor: pointer;
            }
            td{
                &.avatar{
                    padding-left: 10%;
                }
                img{
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                }
            }
        }
    }
}
ul.current-list{
    list-style-type: none;
    display: inline-block;
    li{
        float: left;
    }
}