<input class="chkbx" type="checkbox" name="checkbox">All<br/>
<ul class="current-list">
  <li *ngFor="let emp of employees; let i = index">
    <div class="content">
      <button class="rem-btn" pButton type="button" (click)="removeEmployee(i)" icon="fa-times"></button>
      <p>{{emp.first_name}} {{emp.last_name}}</p>
    </div>
  </li>
</ul>
  <div>
    <input class="add-btn" (focus)="displayDiv()" (blur)="undisplayDiv()" (keyup)="keyUpSearch()" type="text" [(ngModel)]="searchName">
    <div [class]="classDiv">
      <ul class="member-list">
        <li *ngFor="let em of employeePostsSearch; let i = index;" (mousedown)="addEmployee(em)">{{em.first_name}} {{em.last_name}}</li>
      </ul>
    </div>
</div>
