@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss'; 
.hidden{
    display:none;
}
.add-btn
{
    border: solid 0px white;
    background: $whiteBorder;
    width: 25%;
    height: 32px;
    border-radius: 50px;
    color: $fontWhiteBorder;
    font-size: 16px;
    text-align: center;
    margin-left: 0%;
}
.member-to-add{
    width: 300px;
    height: auto;
    background: white;
    position: absolute;
    z-index: 1;
    margin-left: -8%;
    box-shadow: 0px 1px 1px rgba(54,54,54,0.3);
    &::after{
        content: "  ";
        height: 24px;
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
    ul{
        width: 100%;
        display: table;
        text-align: center;
        font-weight: normal;
        li{
            width: 100%;
            display:block;
            &:hover{
                background-color: $blueColor;
                color: white;
                cursor: pointer;
            }
        }
    }
}