.pass-timeoffs{
    button{
        border: 0px;
    }
    width: 80%;
    margin: auto;
    i{
        margin-right: 5px;
    }
    a{
        font-family: Lato;
        font-size: 16px;
        line-height: 24px;
        color: rgba(54,54,54,0.7);
        padding-bottom: 50px;
    }
    .header{
        margin-top: 30px;
        p{
            display: inline-block;
        }
        .dropdown{
            float: right;
            height: 30px;
            background-color: #EEEEEE;
            border-radius: 100px;
            vertical-align: middle;
            text-align: center;
            position: relative;
            select{
                border: 0;
                background: none;
                cursor: pointer;
                height: 24px;
                font-family: Lato;
                font-size: 16px;
                line-height: 24px;
                color: rgba(54,54,54,0.7);
                max-width: 140;
                padding-left: 5px;
                vertical-align: -webkit-baseline-middle;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                option{
                    cursor: pointer;
                }
            }
        }
    }
    .title{
        font-family: Montserrat;
        font-size: 32px;
        font-weight: bold;
        line-height: 38px;
        color: #363636;
    }
    .content{
        margin-top: 20px;
    }
}
