<app-member-menu-bar [currentState]="1"></app-member-menu-bar>
<div class="content">
    <div class="project-title">
        <div *ngIf="project" class="project-background" [style.background]="project.background"></div>
        <div class="project-background project-inform">
            <div class="client">
                <span *ngIf="project && project.client">{{project.client.name}}</span>
            </div>
            <div class="project-name">
                <span *ngIf="project">{{project.name}}</span>
            </div>
            <div class="tracked" *ngIf="project">
                <strong >{{project.tracked_time | timeFromSeconds}}</strong> times tracked
            </div>
        </div>
        <div class="project-control">
            <div class="project-user">
                <div class="oval" (click)="save()">
                    <div class="text">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="oval" (click)="delete()">
                    <div class="text">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="oval" (click)="edit()">
                    <div class="text">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-body">
        <p-tabView>
            <p-tabPanel header="Tasks">
                <app-project-details-tasks [project]="project"></app-project-details-tasks>
            </p-tabPanel>
            <p-tabPanel header="Team">
                <!-- <app-project-details-team [project]="project"></app-project-details-team> -->
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
