@import '../../general-style/color-style.scss';
@import '../../general-style/font-style.scss';
ul{
    list-style-type: none;
    font-family: $headerFont;
    margin-bottom: 0;
    li{
        display: inline-block;
        margin-right: 20px;
    }

    button{
        position: relative;
        border-radius:  50%;
        width: 30px;
        height: 30px;
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
        border: 0px;
        color: #898989;
        &.previous{
        }
        &.next{
        }
    }
    /deep/ .ui-inputtext{
        border-radius: 0 0 0 0;
        border: none;
        box-shadow: none;
        background: transparent;
        color: rgba(54,54,54,0.7);
    }
/*    /deep/ .ui-button{
        margin-left: 10px;
        border: none;
        font-weight: normal;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        .ui-button-icon-left{
            color: #898989;
            position: relative;
            opacity: 0.7;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
            left: 5px;
            top: 2px;
        }
    }*/
    /deep/ .ui-calendar{
        input{
            cursor: pointer;
            max-width: 100px;
            margin-right: 0px;
        }
        .ui-button.ui-state-default{
            color: #898989;
            background: white;
            border: 0px;
            border-radius: 50%;
            opacity: 0.7;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
            }
        .ui-button.ui-state-default:hover{ background: #ddd;}
    }
}
.week{
    
}
