/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/primeng.min.css";
html{
    min-height:100%;
}
body{
    background: linear-gradient(180deg, #FBFCFF 0%, #F6F8FD 100%);
    background-repeat: no-repeat;
    margin: 0px;
}
