/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/primeng.min.css";
html{
    min-height:100%;
    
}
body{
    margin: 0px;
}
input{
    outline: none;
}
button{
    outline: none;
}
@media only screen and (min-width: 1700px) {
    body {

    }
    html{
        padding-left: 200px;
        padding-right: 200px;
    }
}