<app-member-menu-bar [currentState]="4"></app-member-menu-bar>
<div class="member-manage">
    <div class="member-list">
    </div>
    <div class="member-action">
        <button class="add-btn" (click)="displayDialog()" pButton type="button" label="Add new member"></button>
    </div>

    <p-dialog header="Add New Client" [(visible)]="display" width="600">
        <div class="form-container">
        <form (ngSubmit)="onSubmitMember()">
                <div class="form-group">
                <input style="width:100%;" type="text" class="form-control" id="client-name" placeholder="Email"
                name="email" [(ngModel)]="membership.email" required><br/><br/>
                <button class="active" type="submit">Create New</button>
                <button type="button" (click)="undisplayDialog()">Cancel</button>
            </div>
        </form>
        </div>
    </p-dialog>

</div>

