@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
.container{
    font-family: $headerFont;
    .nav-bar{
        list-style-type: none;
        width: 100%;
        height: 55px;
        padding: 0;
        box-shadow: inset 0 -2px 0 0 #EEEEEE;
        li{
            float: left;
            padding-top: 12px;
            padding-bottom: 6px;
            margin-left: 32px;
            &:hover{
                cursor: pointer;
            }
            p{
                float: left;
                margin-bottom: 0;
                padding-bottom: 0;
                color: #C2C2C2;
            }
            &.choosing{
                border-bottom: solid 2px $blueColor;
                p{
                    color: #363636;
                }
            }
            .dot-ot{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #E74C3C;
                float: left;
                margin-top: 14px;
                margin-left: 2px;
            }
            &.export{
                float: right;
                .ui-button{
                    margin-top: 6px;
                    background: white;
                    color: #727272;
                    border: solid 1px #C2C2C2;
                }
            }
        }
    }
    .member-manage{
        margin: auto;
        width: 80%;
        font-family: $headerFont;
        color: $colorHeader;
        table{
            width: 100%;
            thead {
                width: 100%;
                tr {
                    width: 100%;
                    display: block;
                    position: relative;
                    th{
                        width: 100%;
                        font-family: Lato;
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba(54,54,54,0.7);
                    }
                }
            }
            tbody {
                display: block;
                overflow: auto;
                width: 100%;
                max-height: 400px;
                margin-top: 10px;
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar {
                    width: 6px;
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $blueColor;
                }
                tr{
                    box-shadow: inset 0 -1px 0 0 #EEEEEE;
                    display: block;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 100%;
                    td{
                        width: 100%;

                    }
                }
            }
        }
        button{
            width: 121px;
            height: 42px;
            background-color: white;
            font-family: $headerFont;
            font-size: 16px;
            text-align: center;
            line-height: 24px;
            margin: 0px;
            padding: 0px;
            border: solid 1px black;
            margin-right: 10px;
            &.active{
                background-color: $blueColor;
                color: white;
            }
            &.add-btn{
                border: solid 0px white;
                background: $whiteBorder;
                width: 16%;
                height: 42px;
                border-radius: 50px;
                color: $fontWhiteBorder;
            }
        }
    }
}