<div class="new-timeoff">
    <app-member-menu-bar [currentState]="2"></app-member-menu-bar>
    <div class="new-timeoff-container">
        <h2>Request Time Off</h2>
        <div class="new-timeoff-content">
            <div class="new-timeoff-form">
                <form [formGroup]="timeoffForm" (ngSubmit)="submit($event)">
                    <div class="form-header">
                        <div class="start-time">
                            <div class="pick-day">
                                <label>Start On:</label>
                                <p-calendar [formControl]="timeoffForm.controls['date_start']" [minDate]="minDateValue" [showIcon]="true" readonlyInput="readonlyInput" dateFormat="M dd" (onSelect)="setAutoEndDay($event)"></p-calendar>
                            </div>

                            <div class="choice-type-day">
                                <div class="ui-g-12">
                                    <p-radioButton name="start_day" value="false" label="All day" [formControl]="timeoffForm.controls['is_start_half_day']"></p-radioButton>
                                </div>
                                <div class="ui-g-12">
                                    <p-radioButton name="start_day" value="true" label="Half day" [formControl]="timeoffForm.controls['is_start_half_day']"></p-radioButton>
                                </div>
                            </div>
                        </div>

                        <div class="arrow-right">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>

                        <div class="start-time">
                            <div class="pick-day">
                                <label>End On:</label>
                                <p-calendar [formControl]="timeoffForm.controls['date_end']"  [minDate]="minDateValue" [showIcon]="true" readonlyInput="readonlyInput" dateFormat="M dd" ></p-calendar>
                            </div>

                            <div class="choice-type-day" id="choice-type-end-day">
                                <div class="ui-g-12">
                                    <p-radioButton name="end_day" value="false" label="All day"  [formControl]="timeoffForm.controls['is_end_half_day']"  ></p-radioButton>
                                </div>
                                <div class="ui-g-12">
                                    <p-radioButton name="end_day" value="true" label="Half day"  [formControl]="timeoffForm.controls['is_end_half_day']"  ></p-radioButton>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-description">
                        <p>Description</p>
                        <textarea [formControl]="timeoffForm.controls['description']" placeholder="Typing something"></textarea>
                    </div>

                    <div class="form-button">
                        <button class="submit" type="submit" [disabled]="!timeoffForm.valid">Send request</button>
                        <button class="cancel" type="button" (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="timeoff-balance">
                <p>My time balance</p>
                <div class="inform">
                    <div class="details">
                        <span class="details-content">Before request</span>
                        <span class="details-value">6</span>
                    </div>

                    <div class="details">
                        <span class="details-content">This request</span>
                        <span class="details-value">6</span>
                    </div>

                    <div class="details">
                        <span class="details-content">After request</span>
                        <span class="details-value">6</span>
                    </div>
                    <p></p>
                </div>
                <div class="approver">
                    <strong>Approvers</strong> Join, Christophe
                </div>
            </div>

        </div>
    </div>
</div>
