.new-timeoff{
    button{
        border: 0px;
    }
    background-color: #F2F5F7;
    .new-timeoff-container{
        width: 80%;
        margin: auto;
        margin-top: 4%;
        padding-bottom: 10%;
        overflow: hidden;
        h2{
            width: 212px;
            height: 29px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: bold;
            line-height: 29px;
            color: #363636;
        }
        .new-timeoff-content{
            .new-timeoff-form{
                width: 70%;
                min-width: 357px;
                background-color: #FFFFFF;
                box-shadow: 0 2px 3px 0 rgba(0,0,0,0.06);
                border-radius: 3px;
                padding-bottom: 5%;
                margin-bottom: 5%;
                float: left;
                .form-header{
                    margin: 5% 5% 5% 2%;
                    text-align: left;;
                    .start-time{
                        width: 40%;
                        display: inline-block;
                        .pick-day{margin-bottom: 15px;}
                        .choice-type-day{
                            text-align: left;
                            .ui-g-12{
                                padding-left: 0px;
                            }
                        }
                        #choice-type-end-day{
                            display: none;
                        }
                    }
                    .arrow-right{
                        color: #898989;
                        display: inline-block;
                        width: 15%;
                        text-align: center;
                    }
                    & label{
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 24px;
                        color: #363636;
                        margin-right: 5%;
                    }
                }
                .form-description{
                    margin: 5% 5% 0 5%;
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    & p{
                        font-weight: bold;
                        color: #363636;
                    }
                    & textarea{
                        width: 100%;
                        height: 137px;
                        background-color: rgba(255, 255, 255, 0);
                        box-shadow: rgba(54, 54, 54, 0.298039) 0px -1px 0px 0px inset;
                        border: none;
                        font-family: Lato;
                        font-size: 16px;
                        resize: none;
                    }
                }
                .form-button{
                    margin: 5% 5% 0 5%;
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 24px;
                    border-radius: 3px;
                    & .submit{
                        width: 146px;
                        height: 40px;
                        background-color: #0066CC;
                        color: #FFFFFF;
                        cursor: pointer;
                    }
                    & .cancel{
                        width: 90px;
                        height: 40px;
                        background-color: rgba(0,102,204,0);
                        border: 1px solid rgba(54,54,54,0.3);
                        color: rgba(54,54,54,0.7);
                        cursor: pointer;
                    }
                    & .cancel:active{border: 2px solid rgba(54, 54, 54, 0.3);}
                }
            }
        }
        .timeoff-balance{
            min-width: 180px;
            margin-left: 2%;
            float: left;
            & p{
                font-family: Lato;
                font-size: 18px;
                font-weight: bold;
                line-height: 22px;
                color: #363636;
                margin-top: 0px;
                margin-bottom: 1em;
            }
            .inform{
                border-bottom: 1px solid #DDDDDD;
                margin-bottom: 1em;
                .details{
                    padding: .25em;
                    .details-content{
                        font-family: Lato;
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                    }
                    .details-value{
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: right;
                        line-height: 24px;
                        color: #363636;
                        float: right;
                        padding-right: 10%;
                    }
                }
            }
            .approver{
                font-size: 16px;
                line-height: 24px;
                color: rgba(54,54,54,0.7);
                & strong{
                    font-weight: 600;
                }
            }
        }
    }
    /deep/ .ui-calendar{
        width: 60%;
        .ui-inputtext {
            cursor: pointer;
            width: 80%;
            border: 0px;
            background-color: rgba(255,255,255,0);
            box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
            height: 44px;
            font-family: Lato;
            font-size: 16px;
            line-height: 24px;
            color: #363636;
        }
        // .ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default
        .ui-button.ui-state-default{
            color: rgba(54,54,54,0.3);
            border: 0px;
            border-bottom: 1px solid;
            background: white;
        }
    }
    /deep/ .ui-radiobutton-label {
        font-family: Lato;
        font-size: 16px;
        line-height: 24px;
        color: #363636;
    }
}
