@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
.container{
    margin: auto;
    width: 80%;
    font-family: $headerFont;
    font-weight: bold;
    color: $colorHeader;
    margin-top: 97px;
    h1{
        margin: 0;
        padding: 0;
        width: 161px;
        height: 48px;
        font-size: 40px;
        font-weight: bold;
        line-height: 48px;
        color: #363636;
    }
    h4{
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: $colorHeader;
        margin: 0;
    }
    .project-info{
        position: relative;
        margin-top: 72px;
        table.project-info{
            table-layout:fixed;
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            border-spacing: none;
            p{
                margin: 0;
                padding: 0;
                display: inline-block;
            }
            td{
                padding: 0;
                .background{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80px;
                    height: 80px;
                    float: left;
                    border-radius: 5px 35px 35px 5px;
                }
                &.info p{
                    position: absolute;
                    &.project{
                        font-size: 40px;
                        font-weight: bold;
                        line-height: 48px;
                        color: #363636;
                        left: 48px;
                        top: 20px;
                    }
                    &.client{
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                        font-weight: normal;
                        left: 48px;
                        top: 0px;
                    }
                }
                &.hours p{
                    float: right;
                    clear: both;
                    &.hours{
                        font-size: 32px;
                        font-weight: bold;
                        line-height: 38px;
                        color: #363636;
                    }
                    &.explain{
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                    }
                }
            }
        }
    }
    .chart{
        margin-top: 32px;
        background-color: rgba(238,238,238,0);
        box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
    }

    .report{
        margin-top: 32px;
        ul.nav-bar{
            list-style-type: none;
            width: 100%;
            height: 45px;
            padding: 0;
            box-shadow: inset 0 -2px 0 0 #EEEEEE;
            li{
                float: left;
                height: 43px;
                margin-left: 32px;
                &:hover{
                    cursor: pointer;
                }
                p{
                    float: left;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    color: #C2C2C2;
                    margin: 0;
                    padding: 0;
                    line-height: 43px;
                }
                &.choosing{
                    border-bottom: solid 2px $blueColor;
                    p{
                        color: #363636;
                    }
                }
                .dot-ot{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #E74C3C;
                    float: left;
                    margin-top: 14px;
                    margin-left: 2px;
                }
                &.export{
                    float: right;
                    .ui-button{
                        margin-top: 6px;
                        background: white;
                        color: #727272;
                        border: solid 1px #C2C2C2;
                    }
                }
            }
        }
    }
    .by-people{
        .person{
            padding-top: 10px;
            box-shadow: inset 0 -1px 0 0 #EEEEEE;
            min-height: 50px;
            p{
                padding: 0;
                margin: 0;
                font-weight: normal;
            }
            .summary{
                p{
                    margin-top: 10px;
                }
                .left{
                    float: left;
                    font-weight: bold;
                    &.icon{
                        margin-top: 10px;
                        margin-right: 10px;
                        clear: left;
                        color: #C2C2C2;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                img{
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    margin-right: 10px;
                }
                .right{
                    float: right;
                    color: #0066CC;
                    font-weight: bold;
                }
            }
            table{
                clear: left;
                margin-left: 5%;
                margin-right: 2%;
                tr{
                    td{
                        &.left{
                            width: 5%;
                        }
                        &.deco{
                            max-width: 99%;
                            border-bottom: dotted 1px rgba(54,54,54,0.3);
                            div{
                                width: 100%;
                                height: 1px;
                                
                            }
                        }
                        &.right{
                            width: 5%;
                            p{
                                float: right;
                                color: #0066CC;
                            }
                        }
                    }
                }
            }

        }
    }
    .by-categories{
        .category{
            padding-top: 10px;
            box-shadow: inset 0 -1px 0 0 #EEEEEE;
            min-height: 50px;
            p{
                padding: 0;
                margin: 0;
                font-weight: normal;
            }
            .summary{
                p{
                    margin-top: 10px;
                }
                .left{
                    float: left;
                    font-weight: bold;
                    &.icon{
                        margin-top: 10px;
                        margin-right: 10px;
                        clear: left;
                        color: #C2C2C2;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                img{
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    margin-right: 10px;
                }
                .right{
                    float: right;
                    color: #0066CC;
                    font-weight: bold;
                }
            }
            table{
                clear: left;
                width: 95%;
                margin-left: 2%;
                margin-right: 2%;
                tr{
                    td{
                        &.left{
                            width: 20%;
                            img{
                                border-radius: 50%;
                                width: 32px;
                                height: 32px;
                                margin-right: 10px;
                                float: left;
                            }
                            p{
                                float: left;
                                margin-top: 10px;
                            }
                        }
                        &.deco{
                            max-width: 99%;
                            border-bottom: dotted 1px rgba(54,54,54,0.3);
                            div{
                                width: 100%;
                                height: 1px;
                                
                            }
                        }
                        &.right{
                            width: 5%;
                            p{
                                float: right;
                                color: #0066CC;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }

        }
    }
}