<p class="title">
    Time offcalendar
</p>

<div class="show-control">
    <div class="calendar-details">
        <div class="show-week inline" >
            <div class="inline oval" (click)="addWeeks(false)"><div class="text"><i class="fa fa-angle-left" aria-hidden="true"></i></div></div>
            <label for="">{{start_date | date: 'MMM dd'}} - {{end_date | date: 'MMM dd'}}</label>
            <div class="inline oval" (click)="addWeeks(true)"><div class="text"><i class="fa fa-angle-right" aria-hidden="true"></i></div></div>
        </div>
        <div class="show-date inline">
            <label class="today" (click)="setToDay()">Today</label>
            <div class="calendar">
                <p-calendar [(ngModel)]="start_date" [showIcon]="true" readonlyInput="readonlyInput" dateFormat="M dd" placeholder="Pick a date..." (onSelect)="setWeeks($event)"></p-calendar>
            </div>
        </div>
    </div>

    <div class="show-type">
        <label for="">Show people</label>
        <div class="dropdown inline">
            <select class="form-control" [(ngModel)]="select_project" name="select_project_id">
                <option selected [value]="0">All projects</option>
                <option *ngFor="let project of projects" [value]="project.id">{{project.name | capitalize}}</option>
            </select>
        </div>
        <label class="and" for="">and</label>
        <div class="dropdown roles inline">
            <select class="form-control" [(ngModel)]="select_job" name="select_user_working_role">
                <option selected [value]="0">All roles</option>
                <option *ngFor="let job of jobs" [value]="job.id">{{job.name | capitalize}}</option>
            </select>
        </div>
    </div>
</div>

<div class="table-view">
    <app-timeoff-table-view [startDay]="start_date"  [endDay]="end_date" (setWeeks)="setWeeks($event)" [projectId]="select_project" (initProjecttypes)="setProjectsValues($event)" [jobId]="select_job" (initJobtypes)="setJobsValues($event)" (reloadCalendar)="reloadEmit()"></app-timeoff-table-view>
</div>
