@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
.container{
    margin: auto;
    width: 80%;
    font-family: $headerFont;
    font-weight: bold;
    color: $colorHeader;
    margin-top: 97px;
    h1{
        margin: 0;
        padding: 0;
        width: 161px;
        height: 48px;
        font-size: 40px;
        font-weight: bold;
        line-height: 48px;
        color: #363636;
    }
    h4{
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: $colorHeader;
        margin: 0;
    }
    .user-info{
        margin-top: 72px;
        table.user-info{
            table-layout:fixed;
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            border-spacing: none;
            p{
                margin: 0;
                padding: 0;
                display: inline-block;
            }
            td{
                padding: 0;
                img{
                    width: 80px;
                    height: 80px;
                    float: left;
                }
                &.info p{
                    &.name{
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 29px;
                        color: #363636;
                        margin-left: 16px;
                        margin-top: 18px;
                    }
                    &.email{
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                        font-weight: normal;
                        margin-left: 16px;
                    }
                }
                &.hours p{
                    float: right;
                    clear: both;
                    &.hours{
                        font-size: 32px;
                        font-weight: bold;
                        line-height: 38px;
                        color: #363636;
                    }
                    &.explain{
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                    }
                }
            }
        }
    }
}