@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
.container{
    margin: auto;
    width: 80%;
    font-family: $headerFont;
    font-weight: bold;
    color: $colorHeader;
    margin-top: 97px;
    h1{
        margin: 0;
        padding: 0;
        width: 161px;
        height: 48px;
        font-size: 40px;
        font-weight: bold;
        line-height: 48px;
        color: #363636;
    }
    h4{
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: $colorHeader;
        margin: 0;
    }
    .user-info{
        margin-top: 72px;
        table.user-info{
            table-layout:fixed;
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            border-spacing: none;
            p{
                margin: 0;
                padding: 0;
                display: inline-block;
            }
            td{
                padding: 0;
                img{
                    width: 80px;
                    height: 80px;
                    float: left;
                }
                &.info p{
                    &.name{
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 29px;
                        color: #363636;
                        margin-left: 16px;
                        margin-top: 18px;
                    }
                    &.email{
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                        font-weight: normal;
                        margin-left: 16px;
                    }
                }
                &.hours p{
                    float: right;
                    clear: both;
                    &.hours{
                        font-size: 32px;
                        font-weight: bold;
                        line-height: 38px;
                        color: #363636;
                    }
                    &.explain{
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(54,54,54,0.7);
                    }
                }
            }
        }
    }
    .chart{
        margin-top: 32px;
        background-color: rgba(238,238,238,0);
        box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
    }

    .report{
        margin-top: 32px;
        .nav-bar{
            list-style-type: none;
            width: 100%;
            height: 55px;
            padding: 0;
            box-shadow: inset 0 -2px 0 0 #EEEEEE;
            li{
                float: left;
                padding-top: 12px;
                padding-bottom: 6px;
                margin-left: 32px;
                &:hover{
                    cursor: pointer;
                }
                p{
                    float: left;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    color: #C2C2C2;
                }
                &.choosing{
                    border-bottom: solid 2px $blueColor;
                    p{
                        color: #363636;
                    }
                }
                .dot-ot{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #E74C3C;
                    float: left;
                    margin-top: 14px;
                    margin-left: 2px;
                }
                &.export{
                    float: right;
                    .ui-button{
                        margin-top: 6px;
                        background: white;
                        color: #727272;
                        border: solid 1px #C2C2C2;
                    }
                }
            }
        }
    }
}