<app-member-menu-bar [currentState]="3"></app-member-menu-bar>
<div class="container">
  <h1>Reports</h1>
  <app-report-search *ngIf="isLoaded" (emitRange)="newRange($event)" [member]="member.user.first_name + ' ' + member.user.last_name"
  (emitMember)="chooseMember($event)" (emitProject)="chooseProject($event)"></app-report-search>

  <div *ngIf="isLoaded" class="user-info">
    <table class="user-info">
      <tr>
        <td class="info">
          <img *ngIf="member.user.image != null" src="{{member.user.image}}">
          <img src="assets/image-profile/default-avatar.png">
          <p class="name">{{member.user.first_name}} {{member.user.last_name}}</p><br/>
          <p class="email">{{member.user.email}}</p>
        </td>
        <td class="hours">
          <p class="hours">{{member.tracked_time | timeFromSeconds}}</p><br/>
          <p class="explain">hours tracked</p>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="isLoaded" class="chart">
    <p-chart #chart type="bar" [data]="data" [options]="options" height="75"></p-chart>
  </div>

  <div class="report">
    <ul class="nav-bar">
      <li (click)="chooseNavClass(0)" [class]="navClass[0]"><p>By Projects</p></li>
      <li (click)="chooseNavClass(1)" [class]="navClass[1]"><p>By Tasks</p></li>
      <li (click)="chooseNavClass(2)" [class]="navClass[2]"><p>Overtime</p><div class="dot-ot"></div></li>
      <li class="export">
        <p-menu #menu popup="popup" [model]="items"></p-menu>
        <button pButton type="button" label="Export" icon="fa-caret-down" (click)="menu.toggle($event)" iconPos="right"></button>
      </li>
    </ul>

    <div class="by-projects" *ngIf = "navClass[0] === 'choosing'">
      <div class="project" *ngFor="let project of projects; let id = index;">
        <div class="summary">
          <span style="-webkit-text-stroke: 2px white;" (click)="changeSpanProject(id)" [class]="spanClassProject[id]"></span>
          <div class="left background" [style.background]="project.background | gradient"></div>
          <p class="left name">{{project.name}}</p>
          <p class="left client">({{project.client.name}})</p>
          <p class="right">{{project.tracked_time | timeFromSeconds}}</p>
        </div>
        <table *ngIf="spanClassProject[id]==='fa fa-minus icon left'" [@fadeInOut]>
          <tr>
            <th class="left"></th>
            <th class="deco"></th>
            <th class="right"></th>
          </tr>
          <tr *ngFor="let category of project.category">
            <td class="left"><p>{{category.name}}</p></td>
            <td class="deco"><div></div></td>
            <td class="right"><p>{{category.tracked_time | timeFromSeconds}}</p></td>
          </tr>
        </table>
        <br/>
      </div>
    </div>

    <div class="by-tasks" *ngIf = "navClass[1] === 'choosing'">
      <table>
        <tr>
          <th class="time-entry">Time entry<span class="fa fa-angle-down"></span></th>
          <th class="ca-pro">Categories - Project</th>
          <th></th>
        </tr>
        <tr *ngFor="let task of tasks; let id = index;">
          <td><span style="-webkit-text-stroke: 2px white;" class="fa fa-plus"></span>{{task.name}}</td>
          <td class="ca-pro">{{task.category_name}} - {{task.project_name}} ({{task.client.name}})</td>
          <td class="tracked-time">{{task.tracked_time | timeFromSeconds}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="overtime" *ngIf = "navClass[2] === 'choosing'">
    <div class="summary">
      <div class="left regular">
        <p class="hour">{{otRegular | secondsToHours}}h</p>
        <p class="description">Regular</p>
      </div>
      <div class="left weekend">
        <p class="hour">{{otWeekend | secondsToHours}}h</p>
        <p class="description">Weekend</p>
      </div>
      <div class="left holiday">
        <p class="hour">1.5h</p>
        <p class="description">Holiday</p>
      </div>
    </div>

    <table>
      <tr>
        <th class="date">Date</th>
        <th class="description">Description <span class="fa fa-angle-down"></span></th>
        <th class="project">Project</th>
        <th class="time">Time</th>
        <th class="hour"></th>
      </tr>
      <tr class="time-range">
        <td>Last week: Jan 15 - Jan 22</td>
        <td></td>
        <td></td>
        <td></td>
        <td>5.5h</td>
      </tr>
      <tr class="info" *ngFor="let overtime of overtimes; let i = index">
        <td class="date"><p>{{overtime.stop_time | dateToStringWeekDay}}</p><div [class]="oTTypes[i]">{{oTTypes[i]}}</div></td>
        <td class="description">{{overtime.task.name}}</td>
        <td class="project">{{overtime.project_name}} (Picture Plus)</td>
        <td class="time">{{overtime.start_time | date: 'hh:mm a'}} -> {{overtime.stop_time | date: 'hh:mm a'}}</td>
        <td class="hour">{{overtime.overtime | secondsToHours}}h</td>
      </tr>
    </table>
  </div>
  <br/><br/>
</div>