@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
.tasks-container{
    margin: auto;
    width: 80%;
    height: auto;
    background: white;
    box-shadow: inset 0 -1px 0 0 #EEEEEE;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
ul.days-in-week{
    list-style-type: none;
    font-family: $headerFont;
    margin:0px;
    background: white;
    padding-left: 10%;
    padding-right: 10%;
    position:relative;
    z-index: 1;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.08);
    li{
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        height: 40px;
        width:12.5%;
        text-align: center;
        padding-bottom:20px;
        background-color: white;
        p{
            margin: 5px;
        }
        h6{
            font-size: 20px;
        }
        h5{
            font-size: 24px;
        }
        &:hover{
            cursor: pointer;
            background-color: $shadowColor !important;
        }
        &.active{
            background-color: #F2F5F7 !important;
        }
    }
}