<app-member-menu-bar [currentState]="1"></app-member-menu-bar>
<div class="form-container">
<h1>Create new project</h1>
<form>
    <h2>General information</h2>
    <div class="form-group">
        <label for="project-name">Project</label>
        <input type="text" class="form-control" id="project-name" placeholder="Project name" required>
    </div>
    <br/>
    <div class="form-group">
        <label for="client"></label>
        <input type="text" class="form-control" id="client" placeholder="Client" required>
    </div>
    <br/>
    <div class="form-group">
        <label for="background-color">Background color</label>
        <input type="color" class="form-control" id="background-color" required>
    </div>
    <br/>
    <h2>Permissions</h2>
    <h4>Report</h4>
    <div class="description">
        <p>Show report to who?</p>
        <p>If you allow people see this project's report, they can see detail budget, invoices, timesheet and more...</p>
    </div>
        
</form>
</div>
