@import '../general-style/color-style.scss';
@import '../general-style/font-style.scss';
body{
    background-color: white !important;
}
.form-container{
    margin: auto;
    width: 80%;
    font-family: $headerFont;
    font-weight: bold;
    color: $colorHeader;
    .client-group{
        button{
            border: solid 0px white !important;
            background: $whiteBorder !important;
            width: 16%;
            height: 42px;
            border-radius: 50px !important;
            color: $fontWhiteBorder !important;
        }
    }
    h1{
        height: 48px;
        font-size: 40px;
        line-height: 48px;
    }

    h2{
        padding-bottom: 5px;
        height: 29px;
        font-size: 24px;
        line-height: 29px;
        box-shadow: inset 0 -1px 0 0 $whiteBorder; 
    }
    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0; 
        box-shadow: inset 0 -1px 0 0 $whiteBorder;
    }
    label{
        font-size: 18px;
    }
    select{
        margin-left: 17%;
        width: 40%;
        height: 40px;
        border: solid 0px white;
        background: transparent;
        box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
    }
    input{
        height: 40px;
        box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
        border: solid 0px white;
        &#project-name{
            margin-left: 11%;
            width: 70%;
        }
        &#client{
            margin-left: 17%;
            width: 40%;
        }
        &#background-color{
            margin-left: 0%;
        }
    }
    ul{
        list-style-type: none;
        display:table-row;
        padding: 0;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 20px;
        li{
            margin-top:0;
            display: inline-block;
            display: table-cell;
            padding-top: 0px;
            h4{
                padding: 0;
                margin: 0;
                font-size:16px;
            }
            p{
                padding: 0;
                margin: 0;
                color: $lightGrey;
            }
            &.bck-color,&.rep{
                width: 17%;
            }
            &.col-des,&.per-des{
                width:55%;
                padding-right:1%;
            }
            &.input-color{
                position:relative;
                top: 20px;
            }
/*            button{
                width: 121px;
                height: 48px;
                background-color: white;
                font-family: $headerFont;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
                margin: 0px;
                padding: 0px;
                border: solid 1px black;
                display: inline-block;
                &.active{
                    background-color: $blueColor;
                    color: white;
                }
            }*/
        }
    }
/*    button{
        width: 121px;
        height: 42px;
        background-color: white;
        font-family: $headerFont;
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        margin: 0px;
        padding: 0px;
        border: solid 1px black;
        margin-right: 10px;
        &.active{
            background-color: $blueColor;
            color: white;
        }
        &.add-btn{
            border: solid 0px white;
            background: $whiteBorder;
            width: 16%;
            height: 42px;
            border-radius: 50px;
            color: $fontWhiteBorder;
        }
    }*/
    // -------------------------------- Team members --------------------------------
    .team-member{
        .member-table{
            width:89%;
            margin-left: 11%;
            text-align: left;
            tr{
                th{
                    font-weight: normal;
                    color: $fontWhiteBorder;
                    &.delete{
                        width:3%;
                    }
                    &.people-name{
                        width: 67%;
                    }
                    &.p-m{
                        width: 30%;
                    }
                }
                input{
                    box-shadow: none;
                }
                &.data{
                    box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
                }
                button{
                    color: $fontWhiteBorder;
                    background-color: transparent;
                    width: auto;
                    height: auto;
                    margin-right: 0;
                    border: none;
                }
            }
        }
        .add-btn
        {
            border: solid 0px white;
            background: $whiteBorder;
            width: 16%;
            height: 32px;
            border-radius: 50px;
            color: $fontWhiteBorder;
            font-size: 16px;
            text-align: center;
            margin-left: 16%;
        }
        .notice{
            float: right;
            margin: 0;
            p{
                margin: 0;
            }
        }
        .member-to-add{
            width: 300px;
            height: auto;
            background: white;
            position: absolute;
            z-index: 1;
            margin-left: 8%;
            box-shadow: 0px 1px 1px rgba(54,54,54,0.3);
            &::after{
                content: "  ";
                height: 24px;
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent white transparent;
            }
            ul{
                width: 100%;
                display: table;
                text-align: center;
                font-weight: normal;
                li{
                    width: 100%;
                    display:block;
                    &:hover{
                        background-color: $blueColor;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
        .hidden{
            display:none;
        }
    }
    // -------------------------------- end Team member --------------------------------
    // -------------------------------- Adding Tasks --------------------------------
    .tasks{
        .tasks-table{
            text-align: left;
            width: 100%;
            tr{
                &.data{
                    box-shadow: inset 0 -1px 0 0 rgba(54,54,54,0.3);
                }
                th{
                    font-weight: normal;
                    color: $fontWhiteBorder;
                    &.delete-name{
                        width: 20%;
                    }
                    &.member-list{
                        width: 60%;
                    }
                    &.billable{
                        width: auto;
                    }
                }
                td {
                    padding-bottom: 30px;
                    font-weight: normal;
                    &.task-name{
                        font-weight: bold;
                        font-size: 18px;
                        width: 10%;
                        button{
                            color: $fontWhiteBorder;
                            background-color: transparent;
                            width: auto;
                            height: auto;
                            margin: auto;
                            margin-right: 0;
                            border: none;
                            width: 10%;
                            height: 20px;
                            position: relative;
                            top: 5px;
                        }
                    }
                }
                input{
                    box-shadow: none;
                    &.chkbx{
                        margin: 0;
                        height: 13px;
                    }
                }
            }
        }
        .add-task-btn{
            border: solid 0px white !important;
            background: $whiteBorder !important;
            width: 16% !important;
            height: 42px !important;
            border-radius: 50px !important;
            color: $fontWhiteBorder !important;
            &:hover{
                cursor: pointer !important;
            }
        }
    }
    .per-btns,.form-btns{
        button{
        width: 121px;
        height: 42px;
        background-color: white;
        font-family: $headerFont;
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        margin: 0px;
        padding: 0px;
        border: solid 1px black !important;
        margin-right: 10px;
        &.active{
            background-color: $blueColor !important;
            color: white !important;
            }
        }
    }
}
/deep/ .ui-dialog{
    .ui-dialog-titlebar{
        background-color: $whiteBorder;
        font-family: $headerFont;
        color: $fontWhiteBorder;
    }
    button{
    width: 121px;
    height: 42px;
    background-color: white;
    font-family: $headerFont;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    border: solid 1px black !important;
    margin-right: 10px;
    &.active{
        background-color: $blueColor !important;
        color: white !important;
        }
    }
}
